{% extends "common/common_menu_base.html" %}

{% block title %} 发布-首页 {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/d3/css/styles.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/d3/js/d3.js"></script>
    <style type="text/css">
        .node circle {
            cursor: pointer;
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font-size: 14px;
        }

        path.link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2.0px;
        }

        body {
            background-color: #fafafa;
        }

    </style>

{#    <div class="page-header form-inline">#}
{#        <h3>发布中心首页</h3>#}
{#    </div>#}

    <div id="chart" style="background-color: #ffffff; border: #f4f4f4 solid"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            function modal_copy_alert(alert_class, alert) {
                $('div.alert').remove();
                $('#chart').before(
                    $('<div>').attr({
                        class: ['alert', alert_class, 'alert-dismissible'].join(' '),
                        role: 'alert'
                    }).append($('<button>').attr({
                                type: 'button',
                                class: 'close',
                                'data-dismiss': 'alert',
                                'aria-label': 'Close'
                            }).append($('<span>').attr('aria-hidden', 'true').html('&times;'))
                    ).append($('<strong>').html(alert))
                );
            };
            $.ajax({
                url: '/api/deploy/config/info/',
                type: 'get',
                async: false,
                headers: {
                    'Authorization': 'Token {{ API_TOKEN }}'
                },
                success: function (data, textStatus, jqXHR) {
                    var error_array = [];
                    $.each(data, function(index, value){
                        if(!value.deploy_path)
                            error_array.push(value.pool_name+'没有配置发布路径，请联系IT_Test_SCM@yhd.com');
                        if(!value.ftp_path)
                            error_array.push(value.pool_name+'没有配置ftp路径，请联系IT_Test_SCM@yhd.com');
                        if(!value.healthcheck)
                            error_array.push(value.pool_name+
                                    '没有配置healthcheck，请联系IT_OPS_DEV@yhd.com设置白名单，' +
                                    '或者点击<a href="/itil/view/monitor/url/url.html" class="alert-link">此处</a>进行配置');
                    });
                    if (error_array.length > 0)
                        modal_copy_alert('alert-danger', error_array.join('<br>'));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            })
            loadTree();
            $("[data-toggle='popover']").mouseover(function(){
                $(this).css("cursor","pointer");
            });
            $("[data-toggle='popover']").bind('click', function(){
                if($(this).attr('url'))
                    if($(this).attr('type') == 0)
                        window.location.href = $(this).attr('url');
                    else
                        window.open($(this).attr('url'));
            });
        });

        var chart = tree();

        function loadTree() {
            nodes = {{ node_dict | safe }}
                    chart.nodes(nodes).render();
        }
        function tree() {
            var _chart = {};
            var _width = $(document.body).width(), _height = 500,
                    _margins = {top: 0, left: 200, right: 0, bottom: 0},
                    _svg,
                    _nodes,
                    _i = 0,
                    _tree,
                    _diagonal,
                    _bodyG;

            _chart.render = function () {
                if (!_svg) {
                    _svg = d3.select("#chart").append("svg")
                            .attr("height", _height)
                            .attr("width", _width);
                }

                renderBody(_svg);
            };

            function renderBody(svg) {
                if (!_bodyG) {
                    _bodyG = svg.append("g")
                            .attr("class", "body")
                            .attr("transform", function (d) {
                                return "translate(" + _margins.left
                                        + "," + _margins.top + ")";
                            });
                }

                _tree = d3.layout.tree()
                        .size([
                            (_height - _margins.top - _margins.bottom),
                            (_width - _margins.left - _margins.right)
                        ]);

                _diagonal = d3.svg.diagonal()
                        .projection(function (d) {
                            return [d.y, d.x];
                        });

                _nodes.x0 = (_height - _margins.top - _margins.bottom) / 2;
                _nodes.y0 = 0;

                render(_nodes);
            }

            function render(source) {
                var nodes = _tree.nodes(_nodes).reverse();

                renderNodes(nodes, source);

                renderLinks(nodes, source);
            }

            function renderNodes(nodes, source) {
                nodes.forEach(function (d) {
                    d.y = d.depth * 200;
                });

                var node = _bodyG.selectAll("g.node")
                        .data(nodes, function (d) {
                            return d.id || (d.id = ++_i);
                        });
                var nodeEnter = node.enter().append("svg:g")
                        .attr("class", "node")
                        .attr("transform", function (d) {
                            return "translate(" + source.y0
                                    + "," + source.x0 + ")";
                        })
{#                        .on("click", function (d) {#}
{#                            toggle(d);#}
{#                            render(d);#}
{#                        });#}
                nodeEnter.append("svg:circle")
                        .attr("r", 1e-6)
                        .style("fill", function (d) {
                            return d._children ? "steelblue" : "#fff";
                        });

                var nodeUpdate = node.transition()
                        .attr("transform", function (d) {
                            return "translate(" + d.y + "," + d.x + ")";
                        });

                nodeUpdate.select("circle")
                        .attr("r", 5.0)
                        .style("fill", function (d) {
                            return d._children ? "lightsteelblue" : "#fff";
                        });

                var nodeExit = node.exit().transition()
                        .attr("transform", function (d) {
                            return "translate(" + source.y
                                    + "," + source.x + ")";
                        })
                        .remove();

                nodeExit.select("circle")
                        .attr("r", 1e-6);

                renderLabels(nodeEnter, nodeUpdate, nodeExit);

                nodes.forEach(function (d) {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });
            }

            function renderLabels(nodeEnter, nodeUpdate, nodeExit) {
                nodeEnter.append("svg:text")
                        .attr("x", function (d) {
                            return d.children || d._children ? -10 : 10;
                        })
                        .attr("dy", ".35em")
                        .attr("text-anchor", function (d) {
                            return d.children || d._children ? "end" : "start";
                        })
                        .attr("data-toggle", "popover")
                        .attr("data-container", "body")
                        .attr("data-trigger", "hover")
                        .attr("data-placement", "auto")
                        .attr("url", function(d){
                            if (d.url)
                                return d.url;
                            else
                                return 'javascript:void(0)';
                        })
                        .attr("type", function(d){
                            return d.type;
                        })
{#                        .attr("title", function (d) {#}
{#                            if (d.depth == 0) {#}
{#                                return d.name;#}
{#                            } else {#}
{#                                return d.name + ' (' + d.depth + '级部门）';#}
{#                            }#}
{#                        })#}
{#                        .attr("data-content", function (d) {#}
{#                            if (d.depth == 0) {#}
{#                                return;#}
{#                            } else {#}
{#                                var leader = leadermail = ''#}
{#                                if (d.leader != null && d.leader != undefined) {#}
{#                                    leader = d.leader;#}
{#                                }#}
{#                                if (d.leadermail != null && d.leadermail != undefined) {#}
{#                                    leadermail = d.leadermail#}
{#                                }#}
{#                                return '负责人：' + leader + ' 邮件组：' + leadermail;#}
{#                            }#}
{#                        })#}
                        .text(function (d) {
                            return d.name;
                        })
                        .style("fill-opacity", 1e-6);

                nodeUpdate.select("text")
                        .style("fill-opacity", 1);

                nodeExit.select("text")
                        .style("fill-opacity", 1e-6);
            }

            function renderLinks(nodes, source) {
                var link = _bodyG.selectAll("path.link")
                        .data(_tree.links(nodes), function (d) {
                            return d.target.id;
                        });

                link.enter().insert("svg:path", "g")
                        .attr("class", "link")
                        .attr("d", function (d) {
                            var o = {x: source.x0, y: source.y0};
                            return _diagonal({source: o, target: o});
                        });

                link.transition()
                        .attr("d", _diagonal);

                link.exit().transition()
                        .attr("d", function (d) {
                            var o = {x: source.x, y: source.y};
                            return _diagonal({source: o, target: o});
                        })
                        .remove();
            }

            function toggle(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
            }

            function toggleAll(d) {
                if (d.children) {
                    d.children.forEach(toggleAll);
                    toggle(d);
                }
            }

            _chart.width = function (w) {
                if (!arguments.length) return _width;
                _width = w;
                return _chart;
            };

            _chart.height = function (h) {
                if (!arguments.length) return _height;
                _height = h;
                return _chart;
            };

            _chart.margins = function (m) {
                if (!arguments.length) return _margins;
                _margins = m;
                return _chart;
            };

            _chart.nodes = function (n) {
                if (!arguments.length) return _nodes;
                _nodes = n;
                return _chart;
            };

            return _chart;
        }
    </script>
{% endblock %}
