{% extends "common/common_menu_base.html" %}
{% block title %}Production发布详情{% endblock %}
{% block content %}
    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/jquery-treetable-v3.2.0/css/jquery.treetable.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/extensions/group-by/bootstrap-table-group-by.css"
          rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css"
          rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-slider-v7.1.1/css/bootstrap-slider.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet"/>
    <style>
        div.slide {
            padding-top: 7px;
        }
    </style>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{ STATIC_URL }}libs/queryParser/jquery-queryParser.min.js"></script>
    <script src="{{ STATIC_URL }}libs/date-format/js/date.format.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery-treetable-v3.2.0/jquery.treetable.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/extensions/group-by/bootstrap-table-group-by.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootbox/js/bootbox.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery-timer-v1.0.1/js/jquery.timer.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-slider-v7.1.1/js/bootstrap-slider.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery-json/js/jquery.json.min.js"></script>

    <div class="inner-h1" style="margin-bottom: 0px">
        <h1>
            Production发布详情
        </h1>
    </div>
    <!-- 回滚 -->
    <div class="modal fade" id="modal_rollback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="form_rollback">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择回滚模式</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">回滚模式</label>
                            <div class="col-sm-9">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="pattern" value="0" checked> 串行
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="pattern" value="1"> 并行
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="pattern" value="2"> 分组
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group serial">
                            <label for="interval" class="col-sm-3 control-label">串行间隔</label>
                            <div class="col-sm-9 slide">
                                <input type="text" class="form-control slider" id="interval"
                                       data-slider-min="0" data-slider-max="60" data-slider-step="5"
                                       data-slider-value="{{ deploy_interval }}"
                                       style="width: 100%">
                            </div>
                        </div>
                        <div class="form-group group" hidden>
                            <label for="group_interval" class="col-sm-3 control-label">分组间隔</label>
                            <div class="col-sm-9 slide">
                                <input type="text" class="form-control slider" id="group_interval"
                                       data-slider-min="0" data-slider-max="60" data-slider-step="1"
                                       data-slider-value="0"
                                       style="width: 100%">
                            </div>
                        </div>
                        <div class="form-group group" hidden>
                            <label for="interval" class="col-sm-3 control-label">分组1</label>
                            <div class="col-sm-6 slide">
                                <input type="text" class="form-control slider" id="policy1"
                                       data-slider-min="10" data-slider-max="90" data-slider-step="10"
                                       data-slider-value="30" style="width: 100%">
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="policy1" value="0"> 串行
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="policy1" value="1" checked> 并行
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group group" hidden>
                            <label for="interval" class="col-sm-3 control-label">分组2</label>
                            <div class="col-sm-6 slide">
                                <input type="text" class="form-control slider" id="policy2"
                                       data-slider-min="10" data-slider-max="90" data-slider-step="10"
                                       data-slider-value="70" data-slider-enabled="false" style="width: 100%">
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="policy2" value="0" checked> 串行
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="policy2" value="1"> 并行
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verifier" class="col-sm-3 control-label">确认人</label>
                            <div class='col-sm-9'>
                                <select id="verifier" name="verifier" class="form-control combobox">
                                    <option value="">请选择确认人</option>
                                    {% for dd_users in dd_users_queryset %}
                                        <option value="{{ dd_users.username }}">{{ dd_users.username }} - {{ dd_users.display_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rollback_reason" class="col-sm-3 control-label">回滚理由</label>
                            <div class='col-sm-9'>
                                <textarea class="form-control" rows="3" name="rollback_reason" id="rollback_reason"
                                          class="resizable"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rollback_category" class="col-sm-3 control-label">回滚分类</label>
                            <div class='col-sm-9'>
                                <select id="rollback_category" name="rollback_category" class="form-control combobox">
                                    <option value="">请选择回滚分类</option>
                                    {% for rollback_category in rollback_category_list %}
                                        <option value="{{ rollback_category.0 }}">{{ rollback_category.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-green">回滚</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="toolbar_deploy_main">
        <label>发布信息<font color="red">(进度为100%仅代表主机发布/回滚已经完成，不代表后续步骤也执行完毕，仅当滚动条不动，才代表完成)</font></label>
    </div>
    <div id="toolbar_deploy_detail">
        <label>发布列表</label>
    </div>
    <div id="toolbar_log">
        <label>发布日志</label>
    </div>
    <table id="table_deploy_main"></table>
    <table id="table_deploy_detail"></table>
    <table id="table_log" style="table-layout: fixed"></table>

    <script>
        $(document).ready(function () {
            var query = $.getQuery(), depid = query.depid, button_target;
            function from_unixtime(timestamp) {
                if (!timestamp) return null;
                var date = new Date(parseInt(timestamp) * 1000);
                return date.format("yyyy-mm-dd HH:MM:ss");
            }

            function operateFormatter(value, row, index) {
                var button_group = $('<div>').attr({
                    class: 'btn-group',
                    role: 'group'
                });
                switch (row.status) {
                    case 1:
                    case 2:
                        button_group.append($('<button>').text('预发布').attr({
                            class: 'btn btn-green pre_deploy',
                            disabled: true
                        }));
                        // button_group.append($('<button>').text('作废').attr({
                        //     class: 'btn btn-green cancel',
                        //     disabled: true
                        // }));
                        break;
                    case 3:
                        button_group.append($('<button>').text('发布').attr('class', 'btn btn-green deploy'));
                        // button_group.append($('<button>').text('作废').attr({
                        //     class: 'btn btn-green cancel',
                        //     disabled: true
                        // }));
                        break;
                    case 4:
                    case 6:
                        button_group.append($('<button>').text('回滚').attr('class', 'btn btn-green rollback'));
                        break;
                    case 9:
                        button_group.append($('<button>').text('发布暂停').attr('class', 'btn btn-green pause'));
                        break;
                    case 10:
                        button_group.append($('<button>').text('继续发布').attr('class', 'btn btn-green continue_deploying'));
                        button_group.append($('<button>').text('回滚').attr('class', 'btn btn-green rollback'));
                        break;
                    case 11:
                        button_group.append($('<button>').text('回滚暂停').attr('class', 'btn btn-green pause'));
                        break;
                    case 12:
                        button_group.append($('<button>').text('继续回滚').attr('class', 'btn btn-green rollback'));
                }
                return button_group[0].outerHTML;
            }

            function ajax(url, method, data, error) {
                var result = null;
                $.ajax({
                    url: url,
                    async: false,
                    method: method,
                    data: data,
                    headers: {
                        Authorization: 'Token {{ API_TOKEN }}'
                    },
                    success: function (json) {
                        result = json
                    },
                    error: function (json) {
                        if (error)
                            bootbox.alert('操作失败，原因为' + json.responseText);
                    }
                });
                return result;
            }

            function update_row(index, result) {
                $('#table_deploy_main').bootstrapTable('updateRow', {
                    index: index,
                    row: {
                        status: result.results[0].status,
                        status_name: result.results[0].status_name,
                        pre_deploy_progress: result.results[0].pre_deploy_progress,
                        deploy_progress: result.results[0].deploy_progress,
                        rollback_progress: result.results[0].rollback_progress,
                        in_progress: result.results[0].in_progress
                    }
                });
                $('#table_deploy_detail').bootstrapTable('refresh', {
                    silent: true
                });
                $('#table_log').bootstrapTable('refresh', {
                    silent: true
                });
            }

            function page_init(index) {
                var timer = $.timer(1000, function () {
                    var result = ajax('/api/deploy/main/list/', 'get', {depid: depid, format: 'json'}, false);
                    update_row(index, result);
                    if (result == null || $.inArray(result.results[0].status, [3, 4, 5, 7, 10, 12]) != -1) {
                        timer.stop();
                        // $('button.cancel').prop('disabled', false);
                    }
                    if (($.inArray(result.results[0].status, [1, 2]) != -1 && !result.results[0].in_progress)) {
                        timer.stop();
                        $('button.pre_deploy').prop('disabled', false);
                        // $('button.cancel').prop('disabled', false);
                    }
                });
            }

            function pre_deploy(index) {
                bootbox.confirm('是否预发布？', function (result) {
                    if (!result)
                        return;
                    var result = ajax('/api/deploy/auto_pre_deploy/', 'post', {
                        depid: depid,
                    }, true);
                    if (result == null)
                        return;
                    var timer = $.timer(1000, function () {
                        var result = ajax('/api/deploy/main/list/', 'get', {depid: depid, format: 'json'}, false);
                        update_row(index, result);
                        if (result == null || result.results[0].status == 3) {
                            timer.stop();
                            // $('button.cancel').prop('disabled', false);
                        }
                        if (result.results[0].status < 3 && !result.results[0].in_progress) {
                            timer.stop();
                            $('button.pre_deploy').prop('disabled', false);
                            // $('button.cancel').prop('disabled', false);
                        }
                    });
                });
            }

            function deploy(index, from_scratch, row) {
                var now = Date.parse(new Date())/1000;
                var msg = (row.publishdatetimefrom == 0 || (now > row.publishdatetimefrom && now < row.publishdatetimeto) ? '' : '不在发布时间范围内，') + '是否发布？';
                bootbox.confirm(msg, function (result) {
                    if (!result)
                        return;
                    var result = ajax('/api/deploy/auto_publish/v2/', 'post', {
                        depid: depid,
                        from_scratch: from_scratch
                    }, true);
                    if (result == null)
                        return;
                    var timer = $.timer(1000, function () {
                        var result = ajax('/api/deploy/main/list/', 'get', {depid: depid, format: 'json'}, false);
                        update_row(index, result);
                        if (result == null || $.inArray(result.results[0].status, [4, 5, 10, 11, 12]) != -1)
                            timer.stop();
                    });
                });
            }


            function cancel(index) {
                bootbox.confirm('是否作废？', function (result) {
                    if (!result)
                        return;
                    var result = ajax('/api/deploy/status/' + depid + '/', 'put', {
                        status: 7,
                    }, true);
                    if (result == null)
                        return;
                    var timer = $.timer(1000, function () {
                        var result = ajax('/api/deploy/main/list/', 'get', {depid: depid, format: 'json'}, false);
                        update_row(index, result);
                        if (result == null || result.results[0].status == 7)
                            timer.stop();
                    });
                });
            }

            function rollback(index, rollback_type) {
                var result = ajax('/api/deploy/rollback/v2/', 'post', {
                    depid: depid,
                    rollback_type: $.toJSON(rollback_type)
                }, true);
                if (result == null)
                    return;
                var timer = $.timer(1000, function () {
                    var result = ajax('/api/deploy/main/list/', 'get', {depid: depid, format: 'json'}, false);
                    update_row(index, result);
                    if (result == null || $.inArray(result.results[0].status, [5, 12]) != -1)
                        timer.stop();
                });
            }

            window.operateEvents = {
                'click .deploy': function (e, value, row, index) {
                    button_target = $(e.target);
                    deploy(index, true, row);
                },
                'click .continue_deploying': function (e, value, row, index) {
                    button_target = $(e.target);
                    deploy(index, false, row);
                },
                'click .pause': function (e, value, row, index) {
                    button_target = $(e.target);
                    bootbox.confirm('是否暂停？', function (result) {
                        if (!result)
                            return;
                        ajax('/api/deploy/main/detail/v2/' + depid + '/', 'patch', {'signal': 1}, true)
                    })
                },
                'click .rollback': function (e, value, row, index) {
                    button_target = $(e.target);
                    $('#modal_rollback').modal('show');
                },
                'click .pre_deploy': function (e, value, row, index) {
                    button_target = $(e.target);
                    pre_deploy(index);
                },
                'click .cancel': function (e, value, row, index) {
                    button_target = $(e.target);
                    cancel(index);
                }
            };
            $('select.combobox').combobox();
            $('#table_deploy_main').bootstrapTable({
                url: '/api/deploy/main/list/',
                ajaxOptions: {
                    'headers': {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    }
                },
                columns: [
                    <!-- 公共字段 -->
                    {
                        field: 'depid',
                        title: '发布号',
                        width: '15%',
                        visible: false
                    },
                    {
                        field: 'jiraid',
                        title: 'Trident ID',
                        visible: false
                    },
                    {
                        field: 'username',
                        title: '操作人',
                        visible: false
                    },
                    {
                        title: 'Pool',
                        formatter: function (value, row, index) {
                            return row.site_name + '/' + row.app_name;
                        }
                    },
                    {
                        title: '灰度',
                        formatter: function (value, row, index) {
                            return row.is_gray_release ? '是' : '否';
                        }
                    },
                    {
                        field: 'packtype_name',
                        title: '发布包类型'
                    },
                    {
                        field: 'deptype_name',
                        title: '发布类型',
                        visible: false
                    },
                    {
                        title: '重启',
                        formatter: function (value, row, index) {
                            return row.restart ? '是' : '否';
                        },
                    },
                    {
                        title: '创建时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.create_time);
                        },
                        visible: false
                    },
                    {
                        title: '发布开始时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.publishdatetimefrom);
                        },
                        visible: false
                    },
                    {
                        title: '发布结束时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.publishdatetimeto);
                        },
                        visible: false
                    },
                    {
                        title: '最后修改时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.last_modified);
                        },
                        visible: false
                    },
                    {
                        field: 'status_name',
                        title: '状态'
                    },
                    {
                        field: 'comment',
                        title: '备注',
                        visible: false
                    },
                    {
                        title: '有效',
                        formatter: function (value, row, index) {
                            return row.valid ? '是' : '否';
                        },
                        visible: false
                    },
                    <!-- 常规字段 -->
                    {
                        title: '发布间隔',
                        formatter: function (value, row, index) {
                            return row.restart_interval + 's'
                        },
                        visible: false
                    },
                    <!-- 灰度字段 -->
                    {
                        field: 'gray_release_info',
                        title: '灰度策略',
                        visible: false
                    },
                    {
                        title: '阶段间歇',
                        formatter: function (value, row, index) {
                            return row.gray_stage_interval + 'min'
                        },
                        visible: false
                    },
                    {
                        title: '应用恢复时长',
                        formatter: function (value, row, index) {
                            return row.recover_time + 's'
                        },
                        visible: false
                    },
                    {
                        title: '集群剩余容量下限',
                        formatter: function (value, row, index) {
                            return row.colony_surplus + '%'
                        },
                        visible: false
                    },
                    {
                        field: 'gray_rollback_type_name',
                        title: '阶段回滚判断方式',
                        visible: false
                    },
                    {
                        title: '预发布进度',
                        formatter: function (value, row, index) {
                            var cls_array = ['progress-bar', 'progress-bar-warning', 'progress-bar-striped']
                            if (row.status < 3 & row.in_progress)
                                cls_array.push('active')
                            return $('<div>').attr('class', 'progress').css({
                                'height': '34px',
                                'margin-bottom': 0
                            }).append($('<div>').attr({
                                class: cls_array.join(' '),
                                role: 'progressbar',
                                'aria-valuenow': row.pre_deploy_progress,
                                'aria-valuemin': 0,
                                'aria-valuemax': 100,
                            }).css({
                                'min-width': '2em',
                                width: row.pre_deploy_progress + '%',
                                'line-height': '34px',
                            }).text(row.pre_deploy_progress + '%'))[0].outerHTML;
                        },
                        width: '15%'
                    },
                    {
                        title: '发布进度',
                        formatter: function (value, row, index) {
                            var cls_array = ['progress-bar', 'progress-bar-success', 'progress-bar-striped']
                            if ($.inArray(row.status, [6, 9]) != -1)
                                cls_array.push('active')
                            return $('<div>').attr('class', 'progress').css({
                                'height': '34px',
                                'margin-bottom': 0
                            }).append($('<div>').attr({
                                class: cls_array.join(' '),
                                role: 'progressbar',
                                'aria-valuenow': row.deploy_progress,
                                'aria-valuemin': 0,
                                'aria-valuemax': 100,
                            }).css({
                                'min-width': '2em',
                                width: row.deploy_progress + '%',
                                'line-height': '34px',
                            }).text(row.deploy_progress + '%'))[0].outerHTML;
                        },
                        width: '15%'
                    },
                    {
                        title: '回滚进度',
                        formatter: function (value, row, index) {
                            var cls_array = ['progress-bar', 'progress-bar-danger', 'progress-bar-striped']
                            if (row.status == 11)
                                cls_array.push('active')
                            return $('<div>').attr('class', 'progress').css({
                                'height': '34px',
                                'margin-bottom': 0
                            }).append($('<div>').attr({
                                class: cls_array.join(' '),
                                role: 'progressbar',
                                'aria-valuenow': row.rollback_progress,
                                'aria-valuemin': 0,
                                'aria-valuemax': 100,
                            }).css({
                                'min-width': '2em',
                                width: row.rollback_progress + '%',
                                'line-height': '34px'
                            }).text(row.rollback_progress + '%'))[0].outerHTML;
                        },
                        width: '15%'
                    },
                    {
                        title: '操作',
                        align: 'left',
                        formatter: operateFormatter,
                        events: operateEvents,
                        width: '15%'
                    }
                ],
                responseHandler: function (res) {
                    var result = new Object();
                    result.rows = res.results;
                    result.total = res.count;
                    return result
                },
                queryParams: function (p) {
                    return {
                        depid: depid,
                        format: 'json',
                    };
                },
                pagination: false,
                sidePagination: 'server',
                showColumns: true,
                toolbar: '#toolbar_deploy_main',
                cache: false,
            });
            $('#table_deploy_main').on('load-success.bs.table', function () {
                var is_gray_release = $(this).bootstrapTable('getData')[0].is_gray_release;
                switch (is_gray_release) {
                    case 0:
                        $(this).bootstrapTable('showColumn', 'restart_interval');
                        break;
                    case 1:
                        $(this).bootstrapTable('showColumn', 'gray_release_info');
                        $(this).bootstrapTable('showColumn', 'gray_stage_interval');
                        $('#table_deploy_detail').bootstrapTable('showColumn', 'gray_stage')
                }
            })
            $('#table_deploy_detail').bootstrapTable({
                url: '/api/deploy/detail/list/',
                ajaxOptions: {
                    'headers': {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    }
                },
                columns: [
                    {
                        field: 'room_name',
                        title: '所属机房',
                        formatter: function (value, row, index) {
                            return row.room_name ? row.room_name.substring(0, 4) : '未知机房';
                        },
                        width: '10%'
                    },
                    {
                        field: 'host',
                        title: '主机',
                        width: '15%'
                    },
                    {
                        title: '备份时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.backup_time);
                        },
                        width: '15%'
                    },
                    {
                        title: '预发布时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.pre_time);
                        },
                        width: '15%'
                    },
                    {
                        title: '发布时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.real_time);
                        },
                        width: '15%'
                    },
                    {
                        title: '回滚时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.rollback_time);
                        },
                        width: '15%'
                    },
                    {
                        field: 'gray_stage',
                        title: '灰度阶段',
                        width: '15%',
                        visible: false
                    },
                ],
                responseHandler: function (res) {
                    var result = new Object();
                    result.rows = res.reverse();
                    result.total = res.length;
                    return result
                },
                queryParams: function (p) {
                    return {
                        depid: depid,
                        is_source: 0,
                        format: 'json',
                    };
                },
                pagination: false,
                sidePagination: 'server',
                showColumns: false,
                toolbar: '#toolbar_deploy_detail',
                cache: false,
                groupBy: true,
                groupByField: ['room_name'],
                groupByInitExpanded: 'all'
            });
            $('#table_log').bootstrapTable({
                url: '/api/deploy/log/',
                ajaxOptions: {
                    'headers': {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    }
                },
                columns: [
                    {
                        title: '日志时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.create_time);
                        },
                        width: '15%'
                    },
                    {
                        field: 'log',
                        title: '日志内容',
                        cellStyle: function cellStyle(value, row, index) {
                            return {
                                css: {
                                    color: row.error ? 'red' : 'black'
                                }
                            }
                        }
                    },
                    {
                        field: 'error',
                        title: '是否错误',
                        visible: false
                    },
                ],
                responseHandler: function (res) {
                    var result = new Object();
                    result.rows = res.reverse();
                    result.total = res.length;
                    return result
                },
                queryParams: function (p) {
                    return {
                        depid: depid,
                        format: 'json',
                    };
                },
                pagination: false,
                sidePagination: 'server',
                showColumns: false,
                toolbar: '#toolbar_log',
                cache: false,
            });
            $('#form_rollback').bootstrapValidator({
                        excluded: [":disabled"],
                        fields: {
                            verifier: {
                                validators: {
                                    notEmpty: {
                                        message: '确认人不能为空'
                                    }
                                }
                            },
                            rollback_reason: {
                                validators: {
                                    notEmpty: {
                                        message: '回滚理由不能为空'
                                    }
                                }
                            },
                            rollback_category: {
                                validators: {
                                    notEmpty: {
                                        message: '回滚分类不能为空'
                                    }
                                }
                            },
                        }
                    })
                    .on('success.form.bv', function (e) {
                        e.preventDefault();
                        ajax('/api/deploy/rollback/reason/list/', 'post', {
                            uid: '{{ UID }}',
                            depid: depid,
                            verifier: $('#verifier').val(),
                            reason: $('#rollback_reason').val(),
                            category: $('#rollback_category').val()
                        }, true)
                        var rollback_type;
                        switch ($('input[name="pattern"]:checked').val()) {
                            case "0":
                                rollback_type = {
                                    type: 0,
                                    interval: parseInt($('#interval').val())
                                };
                                break;
                            case "1":
                                rollback_type = {
                                    type: 1
                                };
                                break;
                            case "2":
                                rollback_type = {
                                    type: 2,
                                    interval: parseInt($('#interval').val()),
                                    group_interval: parseInt($('#group_interval').val()),
                                    policy: {
                                        1: {
                                            type: parseInt($('input[type="radio"][name="policy1"]:checked').val()),
                                            percent: parseInt($('#policy1').val())
                                        },
                                        2: {
                                            type: parseInt($('input[type="radio"][name="policy2"]:checked').val()),
                                            percent: parseInt($('#policy2').val())
                                        }
                                    }
                                };
                        }
                        rollback(0, rollback_type)
                        $('#modal_rollback').modal('hide');
                    });
            <!-- 所有slide事件 -->
            $("#interval").slider({
                tooltip: 'always',
                formatter: function (value) {
                    return value + '秒';
                }
            });
            $("#group_interval").slider({
                tooltip: 'always',
                formatter: function (value) {
                    return value + '分钟';
                }
            });
            $("#policy1").slider({
                tooltip: 'always',
                formatter: function (value) {
                    return value + '%';
                }
            });
            $("#policy2").slider({
                tooltip: 'always',
                formatter: function (value) {
                    return value + '%';
                }
            });
            $('#policy1').on('slide', function (slideEvt) {
                $('#policy2').slider('destroy');
                $('#policy2').attr('data-slider-value', 100 - parseInt(slideEvt.value));
                $("#policy2").slider({
                    tooltip: 'always',
                    formatter: function (value) {
                        return value + '%';
                    }
                });
            })
            $('input[name="pattern"]').change(function () {
                switch ($(this).val()) {
                    case "0":
                        $('#form_rollback div.serial').show();
                        $('#form_rollback div.group').hide();
                        break;
                    case "1":
                        $('#form_rollback div.serial').hide();
                        $('#form_rollback div.group').hide();
                        break
                    case "2":
                        $('#form_rollback div.serial').show();
                        $('#form_rollback div.group').show();
                }
            })
            $('#verifier').change(function () {
                $(this).parents('form')
                        .data('bootstrapValidator')
                        .revalidateField($(this).attr('id'));
            })
            $('#rollback_category').change(function () {
                $(this).parents('form')
                        .data('bootstrapValidator')
                        .revalidateField($(this).attr('id'));
            });
            <!-- 模态框关闭事件 -->
            $('#modal_rollback').on('hidden.bs.modal', function (e) {
                <!-- 初始化回滚模式 -->
                $('input[type="radio"][name="pattern"]:first').click();
                <!-- 初始化确认人 -->
                $('#verifier').data('combobox').clearElement();
                $('#verifier').data('combobox').clearTarget();
                <!-- 初始化回滚理由 -->
                $('#rollback_reason').val('');
                <!-- 初始化回滚分类 -->
                $('#rollback_category').data('combobox').clearElement();
                $('#rollback_category').data('combobox').clearTarget();
                <!-- 重置表单 -->
                $('#form_code').bootstrapValidator('resetForm', true);
            });
            <!-- 预发布刷新-->
            page_init(0);
        })
    </script>
{% endblock %}
