{% extends "common/common_menu_base.html" %}
{% block title %}YCC无人发布系统 - 1号店运维平台{% endblock %}
{% block content %}
    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css"
          rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-datetimepicker-v2/css/bootstrap-datetimepicker.css"
          rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-slider-v7.1.1/css/bootstrap-slider.min.css" rel="stylesheet"/>

    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css" rel="stylesheet"/>
    <style>
        div.slide {
            padding-top: 7px;
        }
    </style>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootbox/js/bootbox.min.js"></script>
    <script src="{{ STATIC_URL }}libs/date-format/js/date.format.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-datetimepicker-v2/js/bootstrap-datetimepicker.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-slider-v7.1.1/js/bootstrap-slider.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery-json/js/jquery.json.min.js"></script>
    <script src="{{ STATIC_URL }}libs/queryParser/jquery-queryParser.min.js"></script>

    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/bootstrap-table.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/extensions/export/bootstrap-table-export.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery/tableExport.js"></script>
    <script>
        var query;
        function from_unixtime(timestamp) {
            if (!timestamp) return null;
            var date = new Date(parseInt(timestamp) * 1000);
            return date.format("yyyy-mm-dd HH:MM:ss");
        }
        function unix_timestamp(date_format, offset) {
            if (!date_format) return '';
            return Date.parse(date_format) / 1000 + offset;
        }
        function refresh() {
            var param = {
                app_id: query.app_id || $.trim($('#app_id').val()),
                status: $.trim($('#status').val()),
                gray_release_info: $.trim($('#gray_release_info').val()),
                min_publishdatetimefrom: unix_timestamp($('div.date.from > input[type="text"]').val(), 0),
                max_publishdatetimefrom: unix_timestamp($('div.date.to > input[type="text"]').val(), 0),
            };
            $('#table_code').bootstrapTable('refresh', {
                url: '/api/deploy/main/config/list/v2/?' + $.param(param),
                silent: false
            });
        }
        function condition_reset() {
            $('select.selectpicker.code').each(function () {
{#                $(this).data('selectpicker').clearElement();#}
{#                $(this).data('selectpicker').clearTarget();#}
            })
            $('div.date > input[type="text"]').val('').datetimepicker('update');
            refresh();
        }
        function init_alert(alert_target, alert_class, alert) {
            alert_target.empty();
            $('<div>').attr({
                class: ['alert', alert_class, 'alert-dismissible'].join(' '),
                role: 'alert'
            }).append($('<button>').attr({
                        type: 'button',
                        class: 'close',
                        'data-dismiss': 'alert',
                        'aria-label': 'Close'
                    }).append($('<span>').attr('aria-hidden', 'true').html('&times;'))
            ).append($('<strong>').text(alert)).prependTo(alert_target);
        }

        function get_url(app_id, app_id_array, gray_release_info) {
            if ($.inArray(app_id, app_id_array) != -1)
                return '/deploy/prod/detail/?depid='
            else
                return '/deploy/' + (gray_release_info == 0 ? 'normal' : 'gray') + '/detail/?depid='
        }
    </script>

    <!-- 新建发布 -->
    <div class="modal fade" id="modal_code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="form_code">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建发布</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="app_id_create" class="col-sm-3 control-label">站点/应用</label>
                            <div class='col-sm-9'>
                                <select id="app_id_create" name="app_id_create"
                                        class="form-control selectpicker">
                                    <option value="">请选择站点/应用</option>
                                    {% for app in app_queryset %}
                                        <option value="{{ app.id }}">{{ app.site.name }}/{{ app.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zone" class="col-sm-3 control-label">选择IDC</label>
                            <div class='col-sm-9'>
                                <select id="zone" name="zone"
                                        class="form-control selectpicker ">
                                    <option value="">选择IDC</option>
                                    {% for zone in zone_queryset %}
                                        <option value="{{ zone.id }}">{{ zone.name_ch }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否重启</label>
                            <div class="col-sm-7">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="restart" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jiraid" class="col-sm-3 control-label">Trident ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="jiraid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="comment">
                            </div>
                        </div>
                        <div class="form-group normal">
                            <label for="interval" class="col-sm-3 control-label">发布间隔</label>
                            <div class="col-sm-9 slide">
                                <input type="text" class="form-control slider" id="interval"
                                       data-slider-min="0" data-slider-max="60" data-slider-step="5"
                                       data-slider-value="{{ deploy_interval }}" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-green">新建</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="alert"  style="margin-top: 7px"></div>
    <div class="form-inline" role="form">
            <label>From</label>
            <div class="input-group date from timerange ">
                <input class="form-control" type="text" disabled>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <label>To</label>
            <div class="input-group date to timerange ">
                <input class="form-control" type="text" disabled>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <select id="app_id" name="app_id" class="form-control ">
                <option value="">站点/应用</option>
                {% for app in app_queryset %}
                    <option value="{{ app.id }}">{{ app.site.name }}/{{ app.name }}</option>
                {% endfor %}
            </select>
            <select id="status" class="form-control selectpicker code">
                <option value="">状态</option>
                <option value="1">待发布</option>
                <option value="2">发布成功</option>
                <option value="3">已回滚</option>
                <option value="4">发布异常</option>
                <option value="5">回滚异常</option>
                <option value="6">无待发配置</option>
                <option value="7">已作废</option>
            </select>
            <select id="gray_release_info" class="form-control selectpicker code">
                <option value="">是否灰度发布</option>
                <option value="True">否</option>
                <option value="False">是</option>
            </select>
            <button id='clear' class="btn btn-green" onclick="javascript:condition_reset()">重置</button>
            <button id='new' class="btn btn-green" onclick="javascript:$('#modal_code').modal('show')">新建
            </button>
    </div>
    <table id="table_code" class="bootstrap-table"></table>
        <!-- toolbar -->
    <div id="toolbar_code" ></div>

    <script>
        $(document).ready(function () {
            $('#app_id').selectpicker({
                'liveSearch': true,
                'liveSearchPlaceholder': '搜索',
                'width': 'fit',
            }).on('change', function () {
                refresh();
            });

            $('#app_id_create').selectpicker({
                'liveSearch': true,
                'liveSearchPlaceholder': '搜索',
                'width': 'fit',
            }).on('change', function () {
{#                refresh();#}
            });

            $('.selectpicker').not('.width-false').selectpicker({
                'width': 'auto'
            });

            var app_id_array = new Array();
            query = $.getQuery();
            {% for app_id in app_id_list %}
                app_id_array.push({{ app_id }})
            {% endfor %}
            $('select.selectpicker').selectpicker();
            if (query.app_id)
                $('#app_id').selectpicker('disable');

            $('.timerange').datetimepicker({
                format: 'yyyy-mm-dd hh:00',
                autoclose: true,
                minView: 1,
                todayBtn: true,
                todayHighlight: true
            });

            $("#clear").click(function () {
                $("#app_id").val('');
                $(".code").val('');
                $("#app_id").selectpicker('refresh');
                $('.code').selectpicker('refresh');
                $('#table_code').bootstrapTable('refresh', {
                    url: '/api/deploy/main/config/list/v2/?'
            });
            });

            $('#table_code').bootstrapTable({
                url: '/api/deploy/main/config/list/v2/',
                ajaxOptions: {
                    'headers': {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    }
                },
                columns: [
                    {
                        title: '发布号',
                        formatter: function (value, row, index) {
                            return $('<a>').attr({
                                href: '/deploy/ycc/detail/v2/?depid=' + row.depid,
                                target: '_blank'
                            }).text(row.depid)[0].outerHTML;
                        }
                    },
                    {
                        title: 'Trident ID',
                        formatter: function (value, row, index) {
                            return $('<a>').attr({
                                href: '{{ trident_prefix }}/secure/queryDeployRequestForm.jspa?issueKey=' + row.jiraid,
                                target: '_blank'
                            }).text(row.jiraid)[0].outerHTML;
                        }
                    },
                    {
                        title: '灰度',
                        formatter: function (value, row, index) {
                            return row.gray_release_info ? '是' : '否';
                        }
                    },
                    {
                        field: 'username',
                        title: '操作者',
                        visible: false
                    },
                    {
                        title: 'Pool',
                        formatter: function (value, row, index) {
                            return row.site_name + '/' + row.app_name;
                        }
                    },
                    {
                        field: 'idc_name',
                        title: '机房名称',
                    },
                    {
                        title: '是否重启',
                        formatter: function (value, row, index) {
                            return row.restart ? '是' : '否';
                        },
                        visible: false
                    },
                    {
                        title: '创建时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.create_time);
                        },
                        visible: false
                    },
                    {
                        title: '最后操作时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.last_modified);
                        },
                        visible: false
                    },
                    {
                        title: '发布开始时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.publishdatetimefrom);
                        }
                    },
                    {
                        title: '发布结束时间',
                        formatter: function (value, row, index) {
                            return from_unixtime(row.publishdatetimeto);
                        }
                    },
                    {
                        field: 'status_name',
                        title: '状态'
                    },
                    {
                        field: 'comment',
                        title: '备注',
                        visible: false
                    }
                ],
                responseHandler: function (res) {
                    var result = new Object();
                    result.rows = res.results;
                    result.total = res.count;
                    return result
                },
                queryParams: function (p) {
                    var param = {
                        group_name: 'DEPLOY',
                        page_size: p.limit,
                        page: p.offset / p.limit + 1,
                        search: p.search,
                        format: 'json'
                    };
                    if (query.app_id)
                        param.app_id = query.app_id
                    return param;
                },
                pagination: true,
                pageSize: 10,
                pageList: [10, 20, 50, 100],
                sidePagination: 'server',
                showRefresh: true,
                search: true,

                showColumns: true,
                toolbar: "#toolbar_code",
                cache: false,
{#                                showExport: true,#}
{#                                exportDataType: 'all'#}
            });
            $('#form_code').bootstrapValidator({
                        excluded: [":disabled"],
                        fields: {
                            app_id_create: {
                                validators: {
                                    notEmpty: {
                                        message: '站点/应用不能为空'
                                    }
                                }
                            },
                            zone : {
                                validators: {
                                    notEmpty : {
                                        message: 'IDC不能为空'
                                    }
                                }
                            }
                        }
                    })
                    .on('success.form.bv', function (e) {
                        e.preventDefault();
                        var data = {
                         'uid': "{{ UID }}",
                         'pubtype': 0,
                         'app_id': parseInt($('#app_id_create').val()),
                         'comment': $('#comment').val(),
                         'jiraid': $('#jiraid').val(),
                         'restart': $('#restart').prop('checked') ? 1 : 0,
                         'publishDateTimeFrom': 0,
                         'publishDateTimeTo': 0,
                         'taskid': 12345,
                         'zone': $('#zone').find('option:selected').val(),
                         'interval' : parseInt($('#interval').val()),
                        };
                        $.ajax({
                            url: '/api/deploy/muti_save_deploy_v2/',
                            type: 'post',
                            async: false,
                            data: {
                                data: $.toJSON([data])
                            },
                            headers: {
                                Authorization: 'Token {{ API_TOKEN }}'
                            },
                            success: function (json) {
                                if (json[0].depid) {
                                    init_alert($('#alert'), 'alert-success', '创建成功');
                                    condition_reset();
                                }
                                else
                                    init_alert($('#alert'), 'alert-danger', json[0].detail)
                            },
                            error: function (json) {
                                $('#app_id_create').val("");
                                init_alert($('#alert'), 'alert-danger', json.responseText)
                            }
                        });
                        $('#modal_code').modal('hide');
                    });

            <!-- 所有slider事件 -->
            $("#interval").slider({
                tooltip: 'always',
                formatter: function (value) {
                    return value + '秒';
                }
            });
            <!-- 模态框关闭事件 -->
            $('#modal_code').on('hidden.bs.modal', function (e) {
                <!-- 重置表单 -->
                $('#form_code').bootstrapValidator('resetForm', true);
                $(this).find('.selectpicker').selectpicker('val', '');
                <!-- 初始化是否重启 -->
                $('#restart').prop('checked', true);
                <!-- 初始化文本框 -->
                $('#jiraid').val('');
                $('#comment').val('');
            });
            <!-- 所有change事件 -->
            $('div.date.from, div.date.to > input[type="text"]').change(function () {
                refresh();
            });
            $('select.selectpicker.code').change(function () {
                if ($(this).val())
                    refresh();
            });
            $('#app_id_create').change(function () {
                $(this).parents('form')
                        .data('bootstrapValidator')
                        .revalidateField($(this).attr('id'));

            })
            <!-- 其他 -->
            $('div.modal').modal({
                backdrop: 'static',
                show: false
            });
            $('div.search>input[type="text"]').attr( 'placeholder','发布号、Trident ID').width(200);
        })
    </script>
{% endblock %}
