{% extends "deploy/base.html" %}

{% block title %}
    <title>YCC无人发布系统 - 1号店运维平台</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}deploy/css/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}deploy/css/deploy.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jquery-ui/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="http://oms.yihaodian.com.cn/itil/js/zUI/resources/css/zui.css" />
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}deploy/js/date.format.js"></script>
    <script src="http://oms.yihaodian.com.cn/itil/js/zUI/src/zUI.core.js"></script>
    <script src="http://oms.yihaodian.com.cn/itil/js/zUI/src/zUI.dialog.js"></script>
    <script src="http://oms.yihaodian.com.cn/itil/js/zUI/src/zUI.msgBox.js"></script>
    <script src="http://oms.yihaodian.com.cn/itil/js/zUI/src/zUI.autocomplete.js"></script>
    <script src="http://oms.yihaodian.com.cn/itil/js/zUI/src/zUI.page.js"></script>
    <script src="{{ STATIC_URL }}deploy/js/jquery.json.min.js"></script>
    <script>
        $(document).ready(function(){
            //全局 app id 及错误提示框
            var app_id = -1, msgBox, PagesExist;
            //日期选择器默认，8:30分前为昨天，否则为今天，后台直接返回
            var show_date = '';
            //loading状态
            var loading_ico = $('<div><img src="{{ STATIC_URL }}deploy/img/loading.gif" /></div>').css({
                position: 'absolute',
                zIndex: 9999,
                top: '50%',
                left: '50%'
            });
            var loading_mask = $('<div></div>').css({
                height: Math.max($(window).height(), $('body').height()),
                width: '100%',
                position: 'absolute',
                zIndex: 9999,
                top: 0,
                left: 0
            });
            var showLoading = function() {
                endLoading();
                loading_mask.appendTo('body');
                loading_ico.appendTo('body');
            };
            var endLoading = function() {
                loading_mask.remove();
                loading_ico.remove();
            };
            var getValues = function(page) {
                var o = {};
                o.app_id = $('#s_app').find('option:selected').val();
                o.depid = $('#s_depid').val();
                o.status = $('#s_status').find('option:selected').val();
                o.page = page;;
                o.uid = $('#s_trident').is(':checked') ? '523' : '';
                o.format = 'json';
                return o;
            };
            //时间转换
            var from_unixtime = function(timestamp) {
                if (!timestamp) return '';
                var date = new Date(parseInt(timestamp)*1000);
                return date.format("yyyy-mm-dd HH:MM:ss")
            }
            var getListPages = function(o) {
                if(PagesExist) PagesExist._destroy();
                var e = $('#error_tips');
                if(e.length) e.remove();
                $.ajax({
                    url: '/api/deploy/main/config/list/',
                    type: 'get',
                    async: false,
                    data: o,
                    headers: {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    },
                    success: function(json) {
                        showLoading();
                        var opts = {
                            renderTo: '#dept_pages',
                            limit: 20,
                            total: json.count,
                            showPages: 5,
                            callback: function(i) {
                                getSearchResult(getValues(i));
                            }
                        };
                        PagesExist = new zUI.page.Page(opts);
                    },
                    error: function(jqXHR) {
                        alert(jqXHR.responseText);
                    }
                })
            };
            //加载搜索结果
            var getSearchResult = function(o) {
                $.ajax({
                    url: '/api/deploy/main/config/list/',
                    type: 'get',
                    async: false,
                    data: o,
                    headers: {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    },
                    success: function (json) {
                        $('#dept_result').empty();
                        if (!json.results.length) {
                            errorTips('查询结果为空！请重新核实查询条件！');
                        }
                        endLoading();
                        $.each(json.results, function (i, n) {
                            var tr = $('<tr></tr>'), tds;
                            tds = [
                                '<td><a href="../detail?depid=' + n.depid + '" target="_blank">' + n.depid + '</a></td>',
                                '<td><a href="http://trident.yihaodian.com.cn/secure/queryDeployRequestForm.jspa?issueKey=' + n.jiraid + '" target="_blank">' + n.jiraid + '</a></td>',
                                '<td>' + (n.username ? n.username : '') + '</td>',
                                '<td>' + n.site_name + '</td>',
                                '<td>' + n.app_name + '</td>',
                                '<td>' + n.idc_name + '</td>',
                                '<td>' + (n.restart ? '是' : '否') + '</td>',
                                '<td>' + from_unixtime(n.last_modified) + '</td>',
                                '<td>' + from_unixtime(n.publishdatetimefrom) + '</td>',
                                '<td>' + from_unixtime(n.publishdatetimeto) + '</td>',
                                '<td>' + n.status_name + '</td>',
                                '<td>' + n.comment + '</td>',
                            ].join('');
                            tr.html(tds).appendTo('#dept_result');
                        });
                    },
                    error: function(jqXHR) {
                        alert(jqXHR.responseText);
                    }
                })
            };
            //判断发布时候出现错误
            var hasError = function(id) {
                var isError = 0;
                $.post(_host + '/deploy/json/deploy_log/', {depid:id}, function(data) {
                    var json = $.parseJSON(data);
                    $.each(json.logs, function(i, n) {
                        if(n.error == 1) {
                            isError = 1;
                        }
                    });
                    return isError;
                });
            };

            //新建发布
            var addNewSubmit = function() {
                var tpl = [
                    '<dl><dt>选择POOL</dt>',
                    '<dd><select id="choose_pool_1" />',
                    '<select id="choose_pool_2" style="width:200px;" /></dd>',
                    '</dl>',
                    '<dl><dt>选择IDC</dt>',
                    '<dd><select id="idc">',
                    '<option value="1">南汇</option>',
                    //'<option value="2">北京</option>',
                    '<option value="3">金桥</option>',
                    '</select></dd>',
                    '</dl>',
                    '<dl><dt>是否重启</dt>',
                    '<dd><input type="checkbox" id="restart" checked="checked" /><label for="restart">重启</label></dd>',
                    '</dl>',
                    '<dl><dt>jiraid</dt><dd><input type="text" id="jira_id" class="input-text" /></dd></dl>',
                    '<dl><dt>备注</dt><dd><input type="text" id="comment" class="input-text" /></dd></dl>',
                    '<dl><dt>发布间隔</dt><dd><input type="text" id="restart_interval" class="input-text" value={{ DEPLOY_INTERVAL }} /></dd></dl>',
                    '<div id="msg_area"></div>'
                ].join('');
                var options = {
                    cls: 'new-submit',
                    title: '新建发布',
                    html: tpl,
                    height: 530,
                    width: 500,
                    button: {
                        ok: '新建'
                    },
                    ok: submitDeploy,
                    unload: function() {
                        app_id = -1;
                    }
                };
                new zUI.dialog.Dialog(options);
                select_binding('/api/cmdb/site/?format=json', 'choose_pool_1');
                select_binding('/api/cmdb/app/v2/?format=json&page_size=1000&site__id='+$('#choose_pool_1').val(), 'choose_pool_2');
                $('#choose_pool_1').change(function(){
                    select_binding('/api/cmdb/app/v2/?format=json&page_size=1000&site__id='+$('#choose_pool_1').val(), 'choose_pool_2');
                })
                $('#choose_pool_2').change(function(){
                    app_id = parseInt($('#choose_pool_2').val());
                })
            };
            //错误提示框
            var showErrorMsg = function(msg) {
                if(msgBox) {
                    msgBox._destroy();
                }
                var opts = {
                    renderTo: '#msg_area',
                    msgType: 'error',
                    text: msg
                };
                msgBox = new zUI.msgBox.MsgBox(opts);
            };
            var errorTips = function(msg) {
                var e = $('#error_tips');
                if(e.length) {
                    e.remove();
                }
                endLoading();
                $('<section id="error_tips"></section>').insertAfter('.search-condition').css('margin-bottom', '15px');
                var opts = {
                    renderTo: '#error_tips',
                    msgType: 'error',
                    text: msg,
                    closable: true,
                    unload: function() {
                        e.remove();
                    }
                };
                new zUI.msgBox.MsgBox(opts);
            };
            //提交表单
            var submitDeploy = function() {
                //提交验证
                var _switch = true;
                var idc = $('#idc').find('option:selected').val()
                var restart = $('#restart').prop('checked') ? 1 : 0;
                var jiraid = $.trim($('#jira_id').val());
                var comment = $.trim($('#comment').val());
                var is_number = /^\d+$/;
                var restart_interval = $.trim($('#restart_interval').val());
                if(!$('#choose_pool_1').val()) {
                    showErrorMsg('请选择POOL！');
                    _switch = false;
                } else if(app_id == -1) {
                    showErrorMsg('请选择App！');
                    _switch = false;
                } else if(!is_number.test(restart_interval)){
                    showErrorMsg('发布间隔必须是数字！');
                    _switch = false;
                } else {
                    var o = [{
                        'uid': "{{ UID }}",
                        'pubtype': 0,
                        'app_id': app_id,
                        'comment': comment,
                        'jiraid': jiraid,
                        'restart': restart,
                        'publishDateTimeFrom': 0,
                        'publishDateTimeTo': 0,
                        'taskid': 12345,
                        'idc': idc,
                        'restartInterval': restart_interval
                    }];
                    $.ajax({
                        url: '/api/deploy/muti_save_deploy_v2/',
                        type: 'post',
                        async: false,
                        headers: {
                            'Authorization': 'Token {{ API_TOKEN }}'
                        },
                        data: {data: $.toJSON(o)},
                        success: function(json) {
                            msg = '新建发布成功';
                            var opts = {
                                msgType: 'success',
                                text: msg,
                                width: msg.length * 12 + 60,
                                autoShow: false,
                                fade: {
                                    disabled: false,
                                    delay: 2500
                                },
                                float: true,
                                unload: function() {
                                    $('#dept_search').click();
                                }
                            };
                            new zUI.msgBox.MsgBox(opts);
                        },
                        error: function(jqXHR) {
                            alert(jqXHR.responseText);
                        }
                    })
                }
                return _switch;
            };

            var select_binding = function(url, id) {
                $.ajax({
                    url: url,
                    type: 'get',
                    async: false,
                    headers: {
                        'Authorization': 'Token {{ API_TOKEN }}'
                    },
                    success: function(json) {
                        $('#' + id).html('<option value=""></option>')
                        $.each(json.results, function(index, value) {
                            $("<option></option>")
                                    .val(value.id)
                                    .text(value.name)
                                    .appendTo($('#' + id));
                        })
                    },
                    error: function(jqXHR) {
                        alert(jqXHR.responseText);
                    }
                })
            }

            $(function() {
                //清空value值
                $('#s_depid').val('');
                //强制默认状态为待发布（修复firefox）
                var default_status = $('#s_status');
                default_status.find('option:selected').removeAttr();
                default_status.find('option').eq(1).attr('selected', 'selected');
                select_binding('/api/cmdb/site/?format=json', 's_site');
                select_binding('/api/cmdb/app/v2/?format=json&page_size=1000&site__id='+$('#s_site').val(), 's_app');
                $('#s_site').change(function(){
                    select_binding('/api/cmdb/app/v2/?format=json&page_size=1000&site__id='+$('#s_site').val(), 's_app');
                })
                $('#add_submit').bind('click', function() {
                    addNewSubmit();
                });
                $('#dept_search').bind('click', function() {
                    //var start = 0, limit = 20;//list起始数，每页显示list条数
                    //getListPages(getValues(start, limit));
                    getListPages(getValues(1));
                }).click();
            });
        })
    </script>
{% endblock %}

{% block body %}
    <section class="wrapper">
        <header><button id="add_submit" class="btn" >+ 新建发布</button></header>
        <section class="search-condition">
            <label for="s_site">站点</label>
            <select id="s_site"></select>
            <label for="s_app">应用</label>
            <select id="s_app"></select>
            <label for="s_depid">发布号</label>
            <input type="text" id="s_depid" class="zui-input-text" />
            <label for="s_status">状态</label>
            <select id="s_status">
                <option selected="selected"></option>
                <option value="1">待发布</option>
                <option value="2">已发布</option>
                <option value="3">已回滚</option>
                <option value="4">发布异常</option>
                <option value="5">回滚异常</option>
                <option value="6">无待发配置</option>
                <option value="7">已作废</option>
            </select>
            <input id="s_trident" type="checkbox" />
            <label for="s_trident">是否trident</label>
            <button id="dept_search" class="btn">查询</button>
        </section>
        <table class="commons-grid" style="width: 105%">
            <thead>
            <tr>
                <!--<th style="width:15px;"><label for="check_all"><input id="check_all" type="checkbox" /></label></th>-->
                <th style="width:150px;">发布号</th>
                <th style="width:100px;">Trident ID</th>
                <th style="width:80px;">操作者</th>
                <th style="width:90px;">站点</th>
                <th style="width:120px;">应用</th>
                <th style="width:60px;">机房</th>
                <th style="width:60px;">是否重启</th>
                <th style="width:140px;">最后操作时间</th>
                <th style="width:140px;">发布开始时间</th>
                <th style="width:140px;">发布结束时间</th>
                <th style="width:100px;">发布状态</th>
                <th style="width:50px;">备注</th>
            </tr>
            </thead>
            <tbody id="dept_result">
            </tbody>
        </table>
        <section id="dept_pages" class="dept-pages"></section>
    </section>
{% endblock %}
