{% extends "common/common_menu_base.html" %}

{% block content %}

<link href="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/bootstrap-table.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/bootstrap-table.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-datetimepicker/moment.js"></script>
<style>
    .inner-h1{
        margin-bottom: 0px;
    }
</style>
<!-- <div class="inner-h1">站点管理</div> -->

<div id="alert">
</div>
<div id="toolbar">
    <button id="create" data-toggle="modal" data-target="#addModal" class="btn btn-green">
        <i class="glyphicon glyphicon-plus"></i> 新增
    </button>

    <button id="remove" class="btn btn-danger">
        <i class="glyphicon glyphicon-remove"></i> 删除
    </button>
</div>

<table id="site">
</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="addForm" method="POST" action="{{ API_HYBRID_SAVE }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="addSite">新增站点</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">站点</label>
                        <div class='col-sm-6'>
                            <input type='text' class="form-control" name="name" id="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">备注</label>
                        <div class='col-sm-6'>
                            <input type='text' class="form-control" name="comment" id="comment" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-green" id="submit1">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="editForm" method="POST" action="{{ API_HYBRID_SAVE }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="editSite">修改站点</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">ID</label>
                        <div class='col-sm-6'>
                            <input type='text' class="form-control" name="e_id" id="e_id" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">站点</label>
                        <div class='col-sm-6'>
                            <input type='text' class="form-control" name="e_name" id="e_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">备注</label>
                        <div class='col-sm-6'>
                            <input type='text' class="form-control" name="e_comment" id="e_comment" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-green" id="submit2">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
var $table = $('#site'),
    $remove = $('#remove');
$(document).ready(function(){
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
     window.operateEvents = {
        'click .edit': function (e, value, row) {
            $.ajax({
                url:'{{ CMDBAPI_URL }}cmdb/site/' + row.id + '/?format=json',
                type: 'GET',
                async:   false,
                headers:{'Authorization':'Token {{ API_TOKEN }}'},
                success: function( json ) {
                    $("#e_id").val(json.id);
                    $("#e_name").val(json.name);
                    $("#e_comment").val(json.comment);
                }
            });
            $('#editModal').modal('show');
        }
    };
    $('#site').bootstrapTable({
        url: '{{ CMDBAPI_URL }}cmdb/site/?format=json',
        ajaxOptions: {'headers':{'Authorization':'Token {{ API_TOKEN }}'}},
        columns: [
            {
                field: 'state',
                checkbox: true
            },
            {
                field: 'id',
                visible: false
            },
            {
                field: 'name',
                title: '站点',
                align: 'center'
            },
            {
                field: 'app_total',
                title: 'APP数量',
                align: 'center'
            },
            {
                field: 'comment',
                title: '备注',
                align: 'center'
            },
            {
                field: 'created',
                title: '创建时间',
                align: 'center',
                formatter: getCreateTime
            },
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: operateFormatter,
                events: operateEvents
            }
        ],
        responseHandler: function(res){
            var result = new Object();
            result.rows = res.results;
            result.total = res.count;
            return result
        },
        queryParams: function (p) {
            return {
                page_size: p.limit,
                page: p.offset/p.limit+1,
                search: p.search
            };
        },
        pagination: true,
        pageSize: 20,
        pageList: [10,50,100],
        sidePagination: 'server',
        showRefresh: true,
        search: true,
        showColumns: true,
        toolbar: "#toolbar",
        cache: false

    });

    function getCreateTime(value, row, index) {
        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
    };

    function operateFormatter(value, row, index) {
        return [
            '<a href="#" class="edit" data-toggle="tooltip" title="修改站点信息">',
            '<span class="glyphicon glyphicon-pencil"></span>',
            '</a>&nbsp;&nbsp;&nbsp;&nbsp; '
        ].join('');
    }

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
    });

    $('#addForm')
        .bootstrapValidator({
            excluded: ':disabled',
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '站点名称不能为空。'
                        }
                    }
                },
                comment: {
                    validators: {
                        notEmpty: {
                            message: '备注信息不能为空。'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            e.preventDefault();
            var inputdata = {
                'name': $.trim($("input[name='name']").val()),
                'comment': $.trim($("input[name='comment']").val()),
            };
            $.ajax({
                url: '{{ CMDBAPI_URL }}cmdb/site/',
                type: 'POST',
                async: false,
                data: inputdata,
                headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                success: function (json) {
                    $('#addModal').modal('hide');
                    $('#site').bootstrapTable('refresh', {
                        silent: true
                    });
                    $('#addForm').bootstrapValidator('resetForm', true);
                    alert('成功添加站点记录！');
                },
                error: function (json) {
                    $('#alert').append('<div class="alert alert-danger text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>添加错误!</strong>添加机房记录' + JSON.stringify(json.responseText) + '</div>');
                    $('#addModal').modal('hide');
                }
            });
        });
    $('#editForm')
        .bootstrapValidator({
            excluded: ':disabled',
            fields: {
                e_name: {
                    validators: {
                        notEmpty: {
                            message: '站点名称不能为空。'
                        }
                    }
                },
                e_comment: {
                    validators: {
                        notEmpty: {
                            message: '备注信息不能为空。'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            e.preventDefault();
            $.ajax({
                url:'{{ CMDBAPI_URL }}cmdb/site/' + $("#e_id").val() + '/',
                type: 'PATCH',
                async:  false,
                data: {
                    'name': $.trim($("input[name='e_name']").val()),
                    'comment': $.trim($("input[name='e_comment']").val()),

                },
                headers:   {'Authorization':'Token {{ API_TOKEN }}'},
                success: function( json ) {
                    $('#editModal').modal('hide');
                    $('#site').bootstrapTable('refresh', {
                        silent: true
                    });
                    $('#editForm').bootstrapValidator('resetForm', true);
                    alert('成功修改站点记录！');
                },
                error: function( json ) {
                    $('#alert').append('<div class="alert alert-danger text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>错误!</strong>添加机房记录' + JSON.stringify(json.responseText) +'</div>');
                    $('#editModal').modal('hide');
                }
            });
        });


    $remove.click(function () {
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
            var outputid = []
            $.ajax({
                url:'{{ CMDBAPI_URL }}cmdb/site/' + row.id + '/?format=json',
                type: 'PATCH',
                async:   false,
                headers:{'Authorization':'Token {{ API_TOKEN }}'},

                success: function( json ) {
                    $remove.prop('disabled', true);
                    outputid.push(row.id);
                    alert('成功删除站点记录！');
                },
                error: function( json ) {
                    $('#alert').append('<div class="alert alert-danger text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>删除失败!</strong>原因：' + JSON.stringify(json.responseText) +'</div>');
                }

            });
            return outputid;
        });

        $table.bootstrapTable('remove', {
            field: 'id',
            values: ids
        });
    });

});

</script>
{% endblock %}