{% extends "common/common_menu_base.html" %}

{% block content %}
<link href="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-datetimepicker/moment.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/extensions/export/bootstrap-table-export.js"></script>
<script src="{{ STATIC_URL }}libs/jquery/tableExport.js" ></script>
<script src="{{ STATIC_URL }}libs/jquery/spin.min.js" ></script>

<!-- <div class="inner-h1">用户和Domain关系查询</div> -->
<div class="inner-box inner-list-box clearfix">
<div class="col-md-12">
    <table id="usersdomains"></table>
</div>
</div>


<script>
$(document).ready(function(){

    $('#usersdomains').bootstrapTable({
        url: '{{ CMDBAPI_URL }}cmdb/usersdomains/?format=json',
        ajaxOptions: {'headers':{'Authorization':'Token {{ API_TOKEN }}'}},
        columns: [
            {
                field: 'id',
                visible: false
            },
            {
                field: 'ddusers.username',
                title: '账号',
                searchable: true
            },
            {
                field: 'ddusers.username_ch',
                title: '用户',
                searchable: true
            },
            {
                field: 'ddusers.display_name',
                title: '用户名称',
            },
            {
                field: 'dddomain.domaincode',
                title: 'DomainCode',
            },
            {
                field: 'dddomain.domainname',
                title: 'Domain名称',
            },
            {
                field: 'dddomain.domainemailgroup',
                title: 'Domain组邮箱',
                align: 'center'
            },
            {
                field: 'dddomain.domainleaderaccount',
                title: 'DL',
            },
            {
                field: 'dddomain.backupdomainleaderaccount',
                title: '后备DL',
            }
        ],
        responseHandler: function(res){
            var result = new Object();
            result.rows = res.results;
            result.total = res.count;
            return result
        },
        queryParams: function (p) {
            return {
                page_size: p.limit,
                page: p.offset/p.limit+1,
                search: p.search
            };
        },
        pagination: true,
        pageSize: 20,
        pageList: [10,20,50,100],
        sidePagination: 'server',
        search: true,
        cache: false,
        showExport: true,
        showRefresh: true,
        formatSearch: function () {
            return '搜索用户或Domain';
        }
    });

});
</script>

{% endblock %}
