{% extends "common/common_menu_base.html" %}
{% block title %} 乐道APP下载 {% endblock %}
{% block content %}
    <!--内页的标题-->
    <div class="news-wrapper">
        <div class="news-head">乐道APP下载</div>
        <div class="mobile">
            <div class="text">
                <h5>操作方式：</h5>
                <p>1.&nbsp;&nbsp;扫描二维码下载安卓或苹果安装包（安卓请使用微信之外的工具扫描）</p>
                <p>2.&nbsp;&nbsp;执行安装程序</p>
                <p>3.&nbsp;&nbsp;联系乐道管理员：段凌霄，开通乐道APP登录权限</p>
                <p style="color: #E96A00;">注：如有任何问题，请联系蔡佳颖或段凌霄</p>
            </div>
            <div class="weiMa">
                <p>
                    <img src="http://oms.yihaodian.com.cn/static/images/mobile1.png"/>
                    <img src="http://oms.yihaodian.com.cn/static/images/mobile2.png"/>
                </p>
                <p><span>Android</span><span>IOS</span></p>
            </div>
        </div>
    </div>
    <!--内页内容盒子end-->
{% endblock %}