{% extends "common/bootstrap3.html" %}

{% block content %}

    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css"
          rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/jsdifflib/diffview.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/bootstrap-table.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery/spin.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jsdifflib/difflib.js"></script>
    <script src="{{ STATIC_URL }}libs/jsdifflib/diffview.js"></script>
    <script src="{{ STATIC_URL }}libs/jsdifflib/jsdiff.js"></script>
    <style>
        table.diff {
            width: 100%;
        }

        table.diff tbody th {
            width: 10px;
        }

        table.diff tbody td {
            TABLE-LAYOUT: fixed;
            WORD-BREAK: break-all;
            width: 48%
        }
    </style>
    <div class="page-header">
        <h1>历史DB配置文件更新 </h1>
    </div>

    <div class="modal fade" id="editValue" tabindex="-1" role="dialog" aria-labelledby="editValueTitle"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="attributeForm1" method="POST">
                    <input type="hidden" name="edit_id" id="edit_id" value="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="editValueTitle">确认DB配置文件</h4>
                    </div>
                    <input type="hidden" name="editviewtype" id="editviewtype" value="default">
                    <input type="hidden" name="int_id" id="int_id">

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label"></label>

                            <div class='col-sm-10'>
                                <span name="showmessage" id="showmessage" style="color:red"></span>
                            </div>
                        </div>

                        <div id="editkeyvalue">

                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">配置文件</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="edit_configinfo" id="edit_configinfo"
                                       readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">配置组</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="edit_group" id="edit_group" readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">环境</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="edit_env" id="edit_env" readonly/>
                            </div>
                        </div>

                        <input type='hidden' class="form-control" name="edit_idc" id="edit_idc" readonly/>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">原配置</label>

                            <div class='col-sm-10'>
                                <textarea class="form-control" rows="18" name="edit_content"
                                          id="edit_content" readonly="readonly"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">新配置</label>

                            <div class='col-sm-10'>
                                <textarea class="form-control" rows="18" name="edit_content1"
                                          id="edit_content1" readonly="readonly"></textarea>
                            </div>
                        </div>

                        <div class="form-group" id="diff" style="display: none">
                            <div class='col-sm-12'>
                                <div class="modal-dialog" style="width:750px;">
                                    <div class="modal-content">

                                        <div class="modal-header">
{#                                            <input type="button" class="btn btn-info" id="hide_di_btn"#}
{#                                                   onclick="hide_diff()" value="隐藏">#}
                                            <h4 class="modal-title" id="diffTitle">配置文件对比</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div id="diffoutput" style="clear:both;width:100%;">
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-info" id="hide_di_btn"
                                                   onclick="hide_diff()" value="隐藏">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="view_button">
                        {#    <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>#}
                        {#    <button type="submit" class="btn btn-primary" id="submit3">保存</button>#}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改配置组文件-->
    <div class="modal fade" id="eValue" tabindex="-1" role="dialog" aria-labelledby="eValueTitle"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="eForm1" method="POST">
                    <input type="hidden" name="edit_id" id="edit_id" value="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="eValueTitle">修改配置组文件</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label"></label>

                            <div class='col-sm-10'>
                                <span name="showmessage_1" id="showmessage_1" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label"></label>

                            <div class='col-sm-10'>
                                <span name="showmessage_2" id="showmessage_2" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label"></label>

                            <div class='col-sm-10'>
                                <span name="showmessage_3" id="showmessage_3" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">IDC</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="e_idc" id="e_idc"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">所属配置组</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="e_group_id" id="e_group_id"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">文件名称</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="e_data_id" id="e_data_id"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">环境</label>

                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="e_env" id="e_env"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">内容</label>

                            <div class='col-sm-10'>
                                <textarea class="form-control" rows="18" name="e_content"
                                          id="e_content"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" id="view_button">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" id="submit3">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="descriptionValue" tabindex="-1" role="dialog"
         aria-labelledby="descriptionValueValueTitle"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="descriptionValueForm1" method="POST">
                    <input type="hidden" name="edit_id" id="edit_id" value="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="descriptionValueValueTitle">标准参考</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-11 control-label"
                                   style="text-align: center">标准参考</label>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">ORACLE JDBC URL:</label>
                            <label for="inputPassword3" class="col-sm-7 control-label" style="text-align: left">jdbc:oracle:thin:@//[host]:[port]/[ServiceName]</label>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">MySQL JDBC URL:</label>
                            <label for="inputPassword3" class="col-sm-7 control-label" style="text-align: left">jdbc:mysql://[host]:[port]/[database_name]</label>
                        </div>
                        <div class="modal-header">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-11 control-label" style="text-align: center">JDBCKEY设置说明</label>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label"
                                   style="text-align: center">JDBCKEY</label>
                            <label for="inputPassword3" class="col-sm-5 control-label"
                                   style="text-align: center">JDBCVAL</label>
                            <label for="inputPassword3" class="col-sm-2 control-label"
                                   style="text-align: center">type</label>
                            <label for="inputPassword3" class="col-sm-1 control-label"
                                   style="text-align: center">db</label>
                        </div>
                        {% for item in db_default_instances %}
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label"
                                       style="text-align: left">{{ item.jdbckey }}</label>
                                <label for="inputPassword3" class="col-sm-5 control-label"
                                       style="text-align: center">{{ item.jdbcval }}</label>
                                <label for="inputPassword3" class="col-sm-2 control-label" style="text-align: center">
                                    {% if item.jdbctype == 1 %}
                                        不可更改
                                    {% elif item.jdbctype == 2 %}
                                        自定义
                                    {% endif %}
                                </label>
                                <label for="inputPassword3" class="col-sm-1 control-label"
                                       style="text-align: center">{{ item.dbtype }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer" id="view_button">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="alert">
    </div>


    <div id="toolbar">
        <div class="form-inline" role="form">
            {% if canEdit %}
                <button id="synchronize" class="btn btn-primary">
                    <i class="glyphicon glyphicon-refresh"></i> 初始化
                </button>
            {% endif %}
            <button id="description" class="btn btn-primary">
                <i class="glyphicon glyphicon-comment"></i> 标准参考
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <select name="params_idc" id="params_idc" class="form-control">
                <option value="">IDC</option>
                {% for item in idc %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <select name="params_env_id" id="params_env_id" class="form-control">
                <option value="">环境</option>
                {% for item in queryenvfilter %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <select name="params_group_id" id="params_group_id" class="form-control">
                <option value="">配置组</option>
                {% for item in group %}
                    <option value="{{ item.group_id }}">{{ item.group_id }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <table id="asset">
    </table>

    <script type="text/javascript">
        function checkkv(cond) {
            if (cond == 1) {
                cond = ''
            } else if (cond == 2) {
                cond = 'edit'
            }
            var byname = cond + 'jdbckv'
            var checkbox1 = document.getElementsByName(byname)
            var len = checkbox1.length;
            for (var i = 0; i < len; i++) {
                var tmpid = checkbox1[i].id.split('_')[0]
                if (checkbox1[i].checked) {
                    document.getElementById(tmpid).disabled = false
                } else {
                    document.getElementById(tmpid).disabled = true
                }
            }
        }

        function show_diff() {
            var diff = document.getElementById('diff')
            if (diff.style.display == 'block') {
                diff.style.display = 'none'
            } else if (diff.style.display == 'none') {
                diff.style.display = 'block'
            }
        }

        function hide_diff() {
            document.getElementById('diff').style.display = 'none'
        }
    </script>

    <script>

        var opts = {
            lines: 13, // 花瓣数目
            length: 20, // 花瓣长度
            width: 10, // 花瓣宽度
            radius: 30, // 花瓣距中心半径
            corners: 1, // 花瓣圆滑度 (0-1)
            rotate: 0, // 花瓣旋转角度
            direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
            color: '#5882FA', // 花瓣颜色
            speed: 1, // 花瓣旋转速度
            trail: 60, // 花瓣旋转时的拖影(百分比)
            shadow: true, // 花瓣是否显示阴影
            hwaccel: true, //spinner 是否启用硬件加速及高速旋转
            className: 'spinner', // spinner css 样式名称
            zIndex: 2e9, // spinner的z轴 (默认是2000000000)
            top: 'auto', // spinner 相对父容器Top定位 单位 px
            left: 'auto'// spinner 相对父容器Left定位 单位 px
        };

        var spinner = new Spinner(opts);

        $(document).ready(function () {
            $("#description").click(function () {
                $('#descriptionValue').modal('show');
            })

            $("#synchronize").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ CMDBAPI_URL }}ycc/dbupdate/syn/',
                    ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#loading").css({display: "", top: "50%", left: "50%", position: "absolute"});
                        $("#loading").text("");
                        var target = $("#loading").get(0);
                        spinner.spin(target);
                    },
                    success: function (response) {
                        if (response['success']) {
                            alert('Success: ' + response['msg']);
                            $('#configgroup').bootstrapTable('refresh', {
                                silent: true
                            });
                        } else {
                            alert('Error: ' + response['msg']);
                        }
                        spinner.spin();
                    }
                });
            })

            $("#idc").combobox({});
            $("#group_id").combobox({});
            $("#env").combobox({});
            {#            $("#edit_idc").combobox({});#}
            $("#db_group_id").combobox({});
            $("#db_instance_id").combobox({});
            $("#editdb_instance_id").combobox({});
            $("#params_group_id").combobox({});
            $("#db_env").combobox({});
            $("#db_idc").find("option").removeAttr("selected");
            $('#db_idc').combobox("disable");
            $("#editdb_idc").combobox({});
            $("#editdb_group_id").combobox({});
            window.operateEvents = {
                'click .view': function (e, value, row, index) {
                    {#                    $("#edit_idc").find("option").removeAttr("selected");#}
                    {#                    $('#edit_idc').combobox("disable");#}
                    $('#view_button').empty()
                    $('#view_button').append('<input type="button" class="btn btn-info" id="di_btn" onclick="show_diff()" value="对比">')
                    $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                    $('#view_button').append('<button type="submit" class="btn btn-primary" id="submit3">提交</button>')
                    if (row.config_type == 1 || row.config_type == 3) {
                        $('#editValueTitle').text('新历史DB配置文件');
                        $('#editValue').modal('show');
                        $('#editviewtype').val('default')
                    } else if (row.config_type == 2) {
                        $('#editviewtype').val('viewkv')
                        $('#editValueTitle').text('新历史DB配置文件');
                        $('#editValue').modal('show');
                    }
                }, 'click .edit': function (e, value, row, index) {
                    if (row.config_type == 1 || row.config_type == 3) {
                        $('#eValueTitle').text('编辑原配置文件');
                        $('#eValue').modal('show');
                    }
                }
            };

            function diffUsingJS(content1, content2, baseTextName) {
                content1 = difflib.stringAsLines(content1);
                content2 = difflib.stringAsLines(content2);
                if (content1 == '')
                    content1 = [];
                if (content2 == '')
                    content2 = [];
                var sm = new difflib.SequenceMatcher(content1, content2);
                var opcodes = sm.get_opcodes();
                var diffoutputdiv = document.getElementById("diffoutput");
                while (diffoutputdiv.firstChild)
                    diffoutputdiv.removeChild(diffoutputdiv.firstChild);
                var contextSize = 1;
                contextSize = contextSize ? contextSize : null;
                diffoutputdiv.appendChild(diffview.buildView({
                    baseTextLines: content1,
                    newTextLines: content2,
                    opcodes: opcodes,
                    baseTextName: baseTextName,
                    newTextName: "current",
                    contextSize: contextSize,
                    viewType: 0
                }));
            }

            function exactlyFilter() {
                var params_idc = $("#params_idc option:selected").val();
                var params_env_id = $("#params_env_id option:selected").val();
                var params_group_id = $("#params_group_id").val();
                var api_url_base = '{{ CMDBAPI_URL }}ycc/dbupdate/?';
                var params = ['format=json'];
                if (params_idc != "") {
                    params.push('group_status__group__idc__id=' + params_idc);
                }
                if (params_env_id != "") {
                    params.push('env=' + params_env_id);
                }
                if (params_group_id != "") {
                    params.push('group_status__group__group_id=' + params_group_id);
                }
                var api_url = api_url_base + params.join('&')
                $('#asset').bootstrapTable('refresh', {
                    url: api_url
                });
            }

            $("#params_idc").change(function () {
                exactlyFilter();
            });

            $("#params_env_id").change(function () {
                exactlyFilter();
            });

            $("#params_group_id").change(function () {
                if ($("#params_group_id").val() != '')
                    exactlyFilter();
            });

            $('#asset').bootstrapTable({
                url: '{{ CMDBAPI_URL }}ycc/dbupdate/?format=json',
                ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
                columns: [
                    {
                        field: 'id',
                        visible: false
                    },
                    {
                        field: 'data_id',
                        title: '配置文件'
                    },
                    {
                        field: 'group_id',
                        title: '配置组'
                    },
                    {
                        field: 'idc',
                        title: 'IDC'
                    },
                    {
                        field: 'env',
                        visible: false
                    },
                    {
                        field: 'env_name',
                        title: '环境'
                    },
                    {#                    {#}
                    {#                        field: 'content_nopwd',#}
                    {#                        visible: false#}
                    {#                    },#}
                    {
                        field: 'content',
                        visible: false
                    },
                    {
                        field: 'created_time',
                        formatter: timeformat,
                        title: '创建时间'
                    },
                    {
                        field: 'modified_time',
                        formatter: timeformat,
                        title: '修改时间'
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        formatter: operateFormatter,
                        events: operateEvents
                    }
                ],
                responseHandler: function (res) {
                    var result = new Object();
                    result.rows = res.results;
                    result.total = res.count;
                    return result
                },
                queryParams: function (p) {
                    return {
                        page_size: p.limit,
                        page: p.offset / p.limit + 1,
                        search: p.search
                    };
                },
                pagination: true,
                pageSize: 50,
                pageList: [10, 20, 100],
                sidePagination: 'server',
                showRefresh: true,
                search: true,
                showColumns: true,
                toolbar: "#toolbar",
                cache: false
            });

            function getLocalTime(nS) {
                var date = new Date(nS * 1000);
                var Y = date.getFullYear() + '-';
                var M = date.getMonth() + 1;
                M = (M < 10 ? '0' + M : M) + '-';
                var D = date.getDate();
                D = (D < 10 ? '0' + D : D) + ' ';
                var h = date.getHours();
                h = (h < 10 ? '0' + h : h) + ':';
                var m = date.getMinutes()
                m = (m < 10 ? '0' + m : m) + ':';
                var s = date.getSeconds()
                s = s < 10 ? '0' + s : s;
                return Y + M + D + h + m + s;
            }

            function timeformat(value, row, index) {
                if (value == 0)
                    return '';
                else
                    return getLocalTime(value);
            }

            function operateFormatter(value, row, index) {
                var hrefarr = [];
                if ('{{ canDBHis }}' == 'True') {
                    hrefarr.push(
                            '<a class="view">',
                            '<span class="glyphicon glyphicon-check" style="cursor:pointer;margin-right:10px;"></span>',
                            '</a>');
                    hrefarr.push(
                            '<a class="edit">',
                            '<span class="glyphicon glyphicon-pencil" style="cursor:pointer;margin-right:10px;"></span>',
                            '</a>');
                    return hrefarr.join('');
                }
            };

            $('#asset').on('click-row.bs.table', function (e, row, $element) {
                $('#edit_configinfo').val(row.data_id)
                $('#edit_group').val(row.group_id)
                $('#edit_env').val(row.env_name)
                $('#edit_idc').val(row.idc_id)
                $('#rmvid').val(row.id);
                $('#editkeyvalue').empty();

                $('#e_group_id').val(row.group_id);
                $("#e_data_id").val(row.data_id);
                $('#e_env').val(row.env_name);
                {#                $('#e_content').val(row.content);#}
                $('#e_idc').val(row.idc_id);
                document.getElementById('showmessage_1').innerHTML = 'MySQL参照：jdbc.url=jdbc:mysql://[host]:[port]/[database_name]'
                document.getElementById('showmessage_2').innerHTML = 'ORACLE参照：jdbc.url=jdbc:oracle:thin:@//[host]:[port]/[ServiceName]'
                document.getElementById('showmessage_3').innerHTML = 'jdbc.username应于该URL对应的DB实例中的username匹配'
                document.getElementById('showmessage').innerHTML = ''
                var key_value = ''
                var url_count = 0
                var username_count = 0
                var username = ''
                if (row.config_type == 1 || row.config_type == 3) {
                    $('#edit_id').val(row.id);
                    var content = row.content
                    var tmp_content = Array()
                    var tmp_content1 = Array()
                    {#                    $('#edit_content').empty#}
                    {#                    $('#edit_content').val(content);#}
                    if (content) {
                        var conetent_arr = content.split('\n')
                        $.each(conetent_arr, function (i, value) {
                            if (value.indexOf('password') >= 0) {
                                if (value.split('=')[0].indexOf('#') == -1) {
                                    tmp_content.push('jdbc.password=******')
                                } else {
                                    tmp_content.push(value.split('=')[0] + '=' + '******')
                                }
                            } else {
                                tmp_content.push(value)
                            }
                            if (value) {
                                if (value.indexOf('#') == -1 && value.toLowerCase().indexOf('url=') >= 0) {
                                    var tmp_value = value.split('=')
                                    var tmp_arr = Array()
                                    if (tmp_value.length > 2) {
                                        for (var y = 1; y < tmp_value.length; y++) {
                                            tmp_arr.push(tmp_value[y])
                                        }
                                        key_value = tmp_arr.join('=')
                                    } else {
                                        key_value = value.split('=')[1]
                                    }
                                    $('#editkeyvalue').append('<div name="editurl" title="' + key_value + '" class="form-group"><label for="inputPassword3" class="col-sm-2 control-label">DB标识符</label> <div class="col-sm-10"> <input type="text" class="form-control" name="edit_data_id" id="edit_data_id" readonly="readonly" value="' + key_value + '" /> </div> </div>')
                                    url_count += 1
                                }
                                if (value.indexOf('#') == -1 && value.toLowerCase().indexOf('username=') >= 0) {
                                    username_count += 1
                                    username = value.split('=')[1]
                                }
                                //tmp
                                {#                                if (value.indexOf('#') == -1 && value != '') {#}
                                {#                                    if (value.indexOf('password') >= 0) {#}
                                {#                                        tmp_content.push('jdbc.password=******')#}
                                {#                                    } else {#}
                                {#                                        tmp_content.push(value)#}
                                {#                                    }#}
                                {#                                }#}
                            }
                        });
                        $('#edit_content').empty()
                        $('#edit_content').val(tmp_content.join('\n'));
                        $('#e_content').empty()
                        $('#e_content').val(tmp_content.join('\n'));
                        if (url_count > 1) {
                            document.getElementById('showmessage').innerHTML = '有多标识符，请先拆分！'
                            $('#view_button').empty()
                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                        } else if (url_count == 1 && username_count == 1) {
                            $.ajax({
                                url: '{{ CMDBAPI_URL }}ycc/dbupdateurl/?dburl=' + encodeURIComponent(key_value) + '&username=' + username,
                                ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
                                type: 'GET',
                                async: false,
                                dataType: 'json',
                                success: function (response) {
                                    if (response['id'] != 0) {
                                        $('#int_id').val(response['id'])
                                        {#                                    alert('1---' + response['msg'])#}
                                    } else {
                                        {#                                    document.getElementById('showmessage').innerHTML = '标识符未存在，请先添加数据库实例！11'#}
                                        document.getElementById('showmessage').innerHTML = response['msg']
                                        {#                                    alert('2---' + response['msg'])#}
                                        $('#view_button').empty()
                                        $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                    }
                                }
                            });
                        } else {
                            document.getElementById('showmessage').innerHTML = 'jdbckey中缺少url参数，请重新修改！'
                            $('#view_button').empty()
                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                        }
                        if (username_count > 1) {
                            document.getElementById('showmessage').innerHTML = '配置文件中有多个username，请先拆分！'
                            $('#view_button').empty()
                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                        } else if (username_count == 0) {
                            document.getElementById('showmessage').innerHTML = '配置文件中缺少username，请添加！'
                            $('#view_button').empty()
                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                        }
                        $.ajax({
                            url: '{{ CMDBAPI_URL }}ycc/dbupdateone/?configinfoid=' + row.id + "&page_size=1000&format=json",
                            type: 'GET',
                            async: false,
                            headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                            success: function (json) {
                                if (json.results[0]) {
                                    if (!json.results[0].content) {
                                        $('#edit_content1').val('')
                                        document.getElementById('showmessage').innerHTML = '新配置内容为空！jdbckey不准确，请检查！'
                                        $('#view_button').empty()
                                        $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                    } else {
                                        //tmp
                                        var tmp_arr = json.results[0].content.split('\n')
                                        $.each(tmp_arr, function (i, value) {
                                            if (value.split('=')[0].indexOf('#') == -1 && value != '') {
                                                if (value.indexOf('password') >= 0) {
                                                    tmp_content1.push('jdbc.password=******')
                                                } else {
                                                    tmp_content1.push(value)
                                                }
                                            }
                                        });
                                        {#                                    $('#edit_content1').val(json.results[0].content);#}
                                        $('#edit_content1').val(tmp_content1.join('\n'));
                                        {#                                        $('#diff').modal('show')#}
                                        diffUsingJS(tmp_content.join('\n'), tmp_content1.join('\n'), 'base')
                                        if (tmp_content1.join('\n').indexOf('jdbc.url') == -1) {
                                            document.getElementById('showmessage').innerHTML = '新配置内容无jdbc.url参数，请检查并修改！'
                                            $('#view_button').empty()
                                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                        }
                                        if (tmp_content1.join('\n').indexOf('jdbc.username') == -1) {
                                            document.getElementById('showmessage').innerHTML = '新配置内容无jdbc.username参数，请检查并修改！'
                                            $('#view_button').empty()
                                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                        }
                                        if (tmp_content1.join('\n').indexOf('jdbc.password') == -1) {
                                            document.getElementById('showmessage').innerHTML = '新配置内容无jdbc.password参数，请检查并修改！'
                                            $('#view_button').empty()
                                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                        }
                                    }
                                } else {
                                    $('#edit_content1').val('')
                                    document.getElementById('showmessage').innerHTML = '新配置内容为空！jdbckey不准确，请检查！'
                                    $('#view_button').empty()
                                    $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                                }
                            }
                        });
                    }
                }
            });


            $('#attributeForm1')
                    .bootstrapValidator({})
                    .on('success.form.bv', function (e) {
                        e.preventDefault();
                        document.getElementById('showmessage').innerHTML = ''
                        var int_id = $('#int_id').val();
                        var edit_id = $('#edit_id').val();
                        var content = $('#edit_content1').val();
                        var tmp_arr0 = content.split('\n');
                        var tmp_arr1 = Array()
                        var jdbc_string = ''
                        var flag = 0
                        var key_val_url = ''
                        $.each(tmp_arr0, function (i, value) {
                            if (value) {
                                if (value.indexOf('#') == -1) {
                                    tmp_arr1.push(value)
                                    if (value.indexOf('jdbc.url=') >= 0) {
                                        key_val_url = value.split('=')[1]
                                        flag += 1
                                    }
                                }
                            }
                        });
                        jdbc_string = tmp_arr1.join('^^^')
                        if (flag > 1) {
                            document.getElementById('showmessage').innerHTML = '有多标识符，请先拆分！'
                            $('#view_button').empty()
                            $('#view_button').append('<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>')
                        } else {
                            $.ajax({
                                url: '{{ CMDBAPI_URL }}ycc/dbupdate/' + edit_id + '/',
                                type: 'PATCH',
                                async: false,
                                data: {
                                    'editid': edit_id,
                                    'key_val_url': key_val_url,
                                    'jdbc_string': jdbc_string,
                                    'int_id': int_id,
                                    'group_id': $('#edit_group').val(),
                                    'data_id': $('#edit_configinfo').val(),
                                    'env_name': $('#edit_env').val(),
                                    'idc': $('#edit_idc').val()
                                },
                                headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                                success: function (json) {
                                    $('#alert').empty().append('<div class="alert alert-success text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>成功</strong>更新DB配置文件</div>');
                                    $('#asset').bootstrapTable('refresh', {
                                        silent: true
                                    });
                                    $('#editValue').modal('hide');
                                    $('#attributeForm1').bootstrapValidator('resetForm', true);
                                },
                                error: function (json) {
                                    $('#alert').empty().append('<div class="alert alert-danger text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>错误!</strong>更新DB配置文件' + JSON.stringify(json.responseText) + '</div>');
                                    $('#editValue').modal('hide');
                                }
                            });
                        }
                    });

            $('#eForm1')
                    .bootstrapValidator({})
                    .on('success.form.bv', function (e) {
                        e.preventDefault();
                        var edit_id = $('#edit_id').val();
                        var content = $('#e_content').val();
                        $.ajax({
                            url: '{{ CMDBAPI_URL }}ycc/configinfo/v2/' + edit_id + '/',
                            type: 'PATCH',
                            async: false,
                            data: {
                                'editid': edit_id,
                                'config_type': 1,
                                'content': content,
                                'group_name': $('#e_group_id').val(),
                                'data_id': $('#e_data_id').val(),
                                'env_name': $('#e_env').val(),
                                'idc': $('#e_idc').val(),
                                'op': 'old_db'
                            },
                            headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                            success: function (json) {
                                $('#alert').empty()
                                $('#alert').append('<div class="alert alert-success text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>成功</strong>修改配置文件</div>');
                                $('#asset').bootstrapTable('refresh', {
                                    silent: true
                                });
                                $('#eValue').modal('hide');
                                $('#eForm1').bootstrapValidator('resetForm', true);
                            },
                            error: function (json) {
                                $('#alert').empty()
                                $('#alert').append('<div class="alert alert-danger text-center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>错误!</strong>修改配置文件' + JSON.stringify(json.responseText) + '</div>');
                                $('#eValue').modal('hide');
                            }
                        });
                    });
        });
    </script>
{% endblock %}