{% extends "common/common_menu_base.html" %}
{% block title %}production配置文件浏览{% endblock %}
{% block content %}

    <link href="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/css/bootstrapValidator.min.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/bootstrap-table.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-table-v1.6.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrapvalidator-dist-0.5.1/dist/js/bootstrapValidator.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="{{ STATIC_URL }}libs/bootbox/js/bootbox.min.js"></script>


    <div class="modal fade" id="listValue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <form class="form-horizontal" role="form" id="attributeForm1" method="POST">
                    <input type="hidden" name="list_id" id="list_id" value="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">浏览配置组文件</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="list_idc" class="col-sm-2 control-label">IDC</label>
                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="list_idc" id="list_idc"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="list_group_id" class="col-sm-2 control-label">所属配置组</label>
                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="list_group_id" id="list_group_id"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="list_data_id" class="col-sm-2 control-label">文件名称</label>
                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="list_data_id" id="list_data_id"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="list_env" class="col-sm-2 control-label">环境</label>
                            <div class='col-sm-10'>
                                <input type='text' class="form-control" name="list_env" id="list_env"
                                       readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="list_content" class="col-sm-2 control-label">内容</label>
                            <div class='col-sm-10'>
                                <textarea class="form-control" rows="18" name="list_content"
                                          id="list_content"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


 <!--    <div class="inner-h1">
        <h1>production配置文件浏览</h1>
    </div> -->

    <div id="alert">
    </div>


    <div id="toolbar">
        <div class="form-inline" role="form">
            <select name="params_idc" id="params_idc" class="form-control">
                <option value="">IDC</option>
                {% for item in idc %}
                    <option value="{{ item.id }}">{{ item.name_ch }}</option>
                {% endfor %}
            </select>
            <select name="params_group_id" id="params_group_id" class="form-control">
                <option value="">配置组</option>
                {% for item in group %}
                    <option value="{{ item.group_id }}">{{ item.group_id }}</option>
                {% endfor %}
            </select>
            <select name="params_env" id="params_env" class="form-control">
                <option value="">环境</option>
            </select>
            <select name="params_status" id="params_status" class="form-control">
                <option value="">状态</option>
            </select>
            <button id="init" class="btn btn-green">
                重置
            </button>
{#            <select name="params_version" id="params_version" class="form-control">#}
{#                <option value="">版本</option>#}
{#            </select>#}
            <span style="color: red; font-size: large">点击<a href="/deploy/yccv2/configinfo/v3/">这里</a>编辑所属Domain的配置文件</span>
        </div>
    </div>

    <table id="configinfo">
    </table>

    <script>
        $(document).ready(function () {
                    function getLocalTime(nS) {
                        var date = new Date(nS * 1000);
                        var Y = date.getFullYear() + '-';
                        var M = date.getMonth() + 1;
                        M = (M < 10 ? '0' + M : M) + '-';
                        var D = date.getDate();
                        D = (D < 10 ? '0' + D : D) + ' ';
                        var h = date.getHours();
                        h = (h < 10 ? '0' + h : h) + ':';
                        var m = date.getMinutes()
                        m = (m < 10 ? '0' + m : m) + ':';
                        var s = date.getSeconds()
                        s = s < 10 ? '0' + s : s;
                        return Y + M + D + h + m + s;
                    }

                    function timeformat(value, row, index) {
                        if (value == 0)
                            return '';
                        else
                            return getLocalTime(value);
                    }

                    function operateFormatter(value, row, index) {
                        return [
                            '<a href="javascript:void(0)" class="detail">',
                            '<span class="glyphicon glyphicon-info-sign">浏览</span>',
                            '</a>'
                        ].join('');
                    }

                    {#function statusFormatter(value, row, index) {#}
                    {#	return allstatus[value];#}
                    function exactlyFilter() {
                        var params_idc = $('#params_idc option:selected').val();
                        var params_group_id = $('#params_group_id').val();
                        var params_status = $('#params_status').val();
                        var params_env = $('#params_env').val();
{#                        var params_version = $('#params_version').val();#}
                        var api_url_base = '{{ CMDBAPI_URL }}ycc/{{ configinfourl }}/v2/?';
                        var params = ['group_name=YCC_ADMIN', 'format=json'];
                        if (params_idc != '') {
                            params.push('group_status__group__idc__id=' + params_idc);
                        }
                        if (params_group_id != '') {
                            params.push('group_status__group__group_id=' + params_group_id);
                        }
                        if (params_status != '') {
                            params.push('group_status__status=' + params_status);
                        }
                        if (params_env != '') {
                            params.push('env=' + params_env);
                        }
{#                        if (params_version != '') {#}
{#                            params.push('group_status__version=' + params_version);#}
{#                        }#}
                        var api_url = api_url_base + params.join('&')
                        $('#configinfo').bootstrapTable('refresh', {
                            url: api_url
                        });
                    }

                    function initStatus() {
                        {#	for (var gsid in allstatus) {#}
                        {#		$('#params_status').append($('<option>').text(allstatus[gsid]).attr('value', gsid));#}
                        {#	}#}
                        {% for status in status_list %}
                            $('#params_status').append($('<option>').text('{{ status.1 }}').val('{{ status.0 }}'));
                        {% endfor %}
                        $("#params_status").data('combobox').refresh();
                    }

                    function initEnv() {
                        {% for env in env %}
                            $('#params_env').append($('<option>').text('{{ env.name }}').val('{{ env.id }}'));
                        {% endfor %}
                    }

                    function initVersion() {
                        var params_idc = $('#params_idc option:selected').val();
                        var params_group_id = $('#params_group_id').val();
                        var params_status = $('#params_status').val();
{#                        $('#params_version').val('');#}
{#                        $('#params_version').find('option').remove();#}
{#                        $('#params_version').append($('<option>').text('版本').attr('value', ''));#}
                        if (params_idc != '' && params_group_id != '' && params_status != '') {
                            var inputdata = {
                                'idc': params_idc,
                                'group_id': params_group_id,
                                'status': params_status
                            };
                            $.ajax({
                                url: '{{ CMDBAPI_URL }}ycc/status/',
                                async: false,
                                data: inputdata,
                                headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                                success: function (json) {
                                    var allgs = json.results;
                                    for (var i = 0; i < allgs.length; ++i) {
                                        var gs = allgs[i];
                                        var version = gs.version;
{#                                        $('#params_version').append($('<option>').text(version).attr('value', version));#}
                                    }
{#                                    $("#params_version").data('combobox').refresh();#}
                                },
                                error: function (json) {
                                    showError('获取配置组版本' + JSON.stringify(json.responseText));
                                }
                            });
                        }
                    }

                    $('#params_group_id').combobox({});
                    $('#params_status').combobox({});
{#                    $('#params_version').combobox({});#}
                    initStatus();
                    initEnv()

                    $('#init').bind('click', function () {
                        $("#params_env").val('');
                        $('#params_group_id').val('')
                        $('#params_status').val('')
                        $('#params_group_id').data('combobox').clearElement();
                        $('#params_group_id').combobox({});
                        $('#params_status').data('combobox').clearElement();
                        $('#params_status').combobox({});
                        $('#configinfo').bootstrapTable('refresh', {
                            url: '{{ CMDBAPI_URL }}ycc/{{ configinfourl }}/v2/?group_name=YCC_ADMIN&format=json'
                        });
                    });
                    $('#params_idc').change(function () {
                        initVersion();
                        exactlyFilter();
                    });
                    $('#params_group_id').change(function () {
                        if ($("#params_group_id").val() != '') {
                            initVersion();
                            exactlyFilter();
                        }
                    });
                    $('#params_status').change(function () {
                        initVersion();
                        exactlyFilter();
                    });
                    $('#params_env').change(function () {
                        initVersion();
                        exactlyFilter();
                    });
{#                    $('#params_version').change(function () {#}
{#                        exactlyFilter();#}
{#                    });#}
                    window.operateEvents = {
                        'click .detail': function (e, value, row, index) {
                            $('#listValue').modal('show');
                        }
                    };
                    $('#configinfo').on('click-row.bs.table', function (e, row, $element) {
                        $('#list_id').val(row.id);
                        $('#list_idc').val(row.idc);
                        $('#list_group_id').val(row.group_id);
                        $("#list_data_id").val(row.data_id);
                        $('#list_env').val(row.env_name);
                        $('#list_content').val(row.content);
                        if (row.content == null)
                            $('#list_content').val(row.content_nopwd);
                    });
                    $('#configinfo').bootstrapTable({
                        url: '{{ CMDBAPI_URL }}ycc/{{ configinfourl }}/v2/?group_name=YCC_ADMIN&format=json',
                        ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
                        columns: [
                            {
                                field: 'id',
                                visible: false
                            },
                            {
                                field: 'data_id',
                                title: '配置文件'
                            },
                            {
                                field: 'group_id',
                                title: '配置组'
                            },
                            {
                                field: 'idc',
                                title: 'IDC'
                            },
                            {
                                field: 'env',
                                visible: false
                            },
                            {
                                field: 'env_name',
                                title: '环境'
                            },
                            {
                                field: 'content_nopwd',
                                visible: false
                            },
                            {
                                field: 'content',
                                visible: false
                            },
                            {
                                field: 'status_cn',
                                title: '状态',
                                {#            formatter: statusFormatter#}
                            },
                            {
                                field: 'version',
                                title: '版本'
                            },
                            {
                                field: 'created_time',
                                formatter: timeformat,
                                title: '创建时间'
                            },
                            {
                                field: 'modified_time',
                                formatter: timeformat,
                                title: '修改时间'
                            },
                            {
                                field: 'operate',
                                title: '操作',
                                align: 'center',
                                formatter: operateFormatter,
                                events: operateEvents
                            }
                        ],
                        responseHandler: function (res) {
                            var result = new Object();
                            result.rows = res.results;
                            result.total = res.count;
                            return result
                        },
                        queryParams: function (p) {
                            return {
                                page_size: p.limit,
                                page: p.offset / p.limit + 1,
                                search: p.search
                            };
                        },
                        pagination: true,
                        pageSize: 50,
                        pageList: [10, 20, 100],
                        sidePagination: 'server',
                        showRefresh: true,
                        search: true,
                        showColumns: true,
                        toolbar: "#toolbar",
                        cache: false
                    });
                    {% if not domains %}
                        var a = $('<a>')
                                .attr({href: 'http://oms.yihaodian.com.cn/home/myInfo.action', target: '_blank'})
                                .text('此处')[0].outerHTML;
                        bootbox.alert('无domain信息，请点击' + a + '查看修复方法，或者联系SA');
                    {% endif %}
                }
        );

    </script>
{% endblock %}
