{% extends "common/common_menu_base.html" %}

{% block content %}

<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.min.js"></script>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
<link href="{{ STATIC_URL }}libs/bootstrap-table-v1.10.1/bootstrap-table.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}libs/bootstrap-select-1.12.0/dist/js/bootstrap-select.min.js"></script>
<link href="{{ STATIC_URL }}libs/bootstrap-select-1.12.0/dist/css/bootstrap-select.min.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}libs/bootstrap-table-v1.8.1/extensions/export/bootstrap-table-export.js"></script>
<script src="{{ STATIC_URL }}libs/jquery/tableExport.js"></script>
<script src="{{ STATIC_URL }}libs/echarts-2.2.7/echarts.js"></script>


<ul class="nav nav-tabs">
     <li class="active">
        <a href="#panel_pool" data-toggle="tab">POOL依赖查询</a>
    </li>
    <li >
        <a href="#panel_group_id" data-toggle="tab">配置组访问查询</a>
    </li>

</ul>

<div class="tab-content">
    <div class="tab-pane active" id="panel_pool">
        <div class="form-inline" role="form"  id="toolbarpool">
            <label for="app" class="control-label">选择Pool:</label>
            <select id="app" name="app" class="form-control">
                <option value="">选择Pool</option>
                {% for item in apps %}
                    <option value="{{ item.id }}">{{ item.site.name }}/{{ item.name }}</option>
                {% endfor %}
            </select>
            <button id="pool_chartbtn"  class="btn btn-green" data-toggle="modal" data-target="#pool_chartmodal">展示关系图</button>
        </div>

        <table id="dependence"  ></table>

        <div class="modal fade" id="pool_chartmodal" >
        <div class="modal-dialog" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span> </button>
                    <h4 class="modal-title">Pool配置组依赖关系图</h4>
                </div>
                <div class="modal-body">
                    <div id="pool_chart" style="height:600px; width:650px;hmargin-top: 5px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="tab-pane" id="panel_group_id">
        <div class="form-inline" role="form"  id="toolbarconfig">
            <label for="group_id" class="control-label">选择配置组:</label>
            <select id="group_id" name="group_id" class="form-control">
                <option value="">选择配置组</option>
                {% for item in configgroup %}
                    <option value="{{ item.group_id }}">{{ item.group_id }}</option>
                {% endfor %}
            </select>
            <button id="group_id_chartbtn"  class="btn btn-green" data-toggle="modal" data-target="#group_id_chartmodal">展示关系图</button>
        </div>

        <table id="dependence_group_id"  ></table>

        <div class="modal fade" id="group_id_chartmodal" >
        <div class="modal-dialog" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span> </button>
                    <h4 class="modal-title">配置组Pool访问关系图</h4>
                </div>
                <div class="modal-body">
                    <div id="group_id_chart" style="height:600px; width:650px;hmargin-top: 5px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#app,#group_id').selectpicker({
        'liveSearch': true,
		'liveSearchPlaceholder': '搜索',
        'width':'200px',
    });

    $('#app,#group_id').selectpicker('val','');

    require.config({
        paths : {
            echarts : "{{ STATIC_URL }}libs/echarts-2.2.7/",
        }
    });

    $('#app').change(function() {
        if ($('#app').val()) {
            url = '{{ CMDBAPI_URL }}yellowpages/pool/dependence/?format=json&app_id=' + $('#app').val();
            $('#dependence').bootstrapTable('refresh', {'url': url});
        }
    })

     $('#group_id').change(function() {
        if ($('#group_id').val()) {
            url = '{{ CMDBAPI_URL }}yellowpages/config/calllist/?format=json&group_id=' + $('#group_id').val();
            $('#dependence_group_id').bootstrapTable('refresh', {'url': url});
        }
    })

    $('#pool_chartbtn').click(function() {

         if ($('#app').val()) {
             var nodesdata = [{category: 0, name: $('#app').find("option:selected").text(), value: 20, symbolSize: 35}];
             var linksdata = [];
             $.ajax({
                 url: '{{ CMDBAPI_URL }}yellowpages/pool/dependence/?format=json&page_size=1000&app_id=' + $('#app').val(),
                 type: 'GET',
                 async: false,
                 dataType: "json",
                 cache: false,
                 headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                 success: function (json) {
                     $.each(json, function (key, val) {
                         if (val.type==1){
                             var category=2;
                         }else{
                             var category=1;
                         }
                         nodesdata.push({category: category, name: val.group_id, value: 10, symbolSize: 20});
                         linksdata.push({
                             source: val.group_id,
                             target: $('#app').find("option:selected").text(),
                             weight: 20
                         })
                     })
                 }
             });
             echarts('pool_chart','Pool配置组依赖关系图',['Pool', '依赖配置组','主配置组'],[{name: 'Pool'},{name: '依赖配置组'}, {name: '主配置组'}],nodesdata,linksdata);
         }
    });
    $('#group_id_chartbtn').click(function() {

         if ($('#group_id').val()) {
             var nodesdata = [{category: 0, name: $('#group_id').find("option:selected").text(), value: 20, symbolSize: 35}];
             var linksdata = [];
             $.ajax({
                 url: '{{ CMDBAPI_URL }}yellowpages/config/calllist/?format=json&page_size=1000&group_id=' + $('#group_id').val(),
                 type: 'GET',
                 async: false,
                 dataType: "json",
                 cache: false,
                 headers: {'Authorization': 'Token {{ API_TOKEN }}'},
                 success: function (json) {
                     $.each(json, function (key, val) {
                         nodesdata.push({category: 1, name: val.pool, value: 10, symbolSize: 20});
                         linksdata.push({
                             source: val.pool,
                             target: $('#group_id').find("option:selected").text(),
                             weight: 20
                         })
                     })
                 }
             });
             echarts('group_id_chart','配置组Pool访问关系图',['配置组','Pool'],[{name: '配置组'},{name: 'Pool'}],nodesdata,linksdata);
         }
})


    $('#dependence').bootstrapTable({
        url:'',
        ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
        columns:[
            {
                field: 'pool',
                title:'Pool',
                align:'center',
            },
            {
                field: 'group_id',
                title:'依赖的配置组',
                align:'center',
            },
        ],

        pagination: true,
        pageSize: 50,
        pageList: [10, 20, 100],
        sidePagination: 'client',
{#        showRefresh: true,#}
{#        search: true,#}
{#        showColumns: true,#}
        toolbar: "#toolbarpool",
        cache: false,
        showExport:true,
    })

        $('#dependence_group_id').bootstrapTable({
        url:'',
        ajaxOptions: {'headers': {'Authorization': 'Token {{ API_TOKEN }}'}},
        columns:[
            {
                field: 'group_id',
                title:'配置组',
                align:'center',
            },
            {
                field: 'pool',
                title:'访问的Pool',
                align:'center',
            },
            {
                field: 'domainemail',
                title:'Domain邮箱',
                align:'center',
            },
        ],

        pagination: true,
        pageSize: 50,
        pageList: [10, 20, 100],
        sidePagination: 'client',
{#        showRefresh: true,#}
{#        search: true,#}
{#        showColumns: true,#}
        toolbar: "#toolbarconfig",
        cache: false,
        showExport:true,
    })


         function echarts(divid,title,legend,categories,nodesdata,linksdata){
             require(
                     [
                         'echarts',
                         'echarts/chart/force' // 使用柱状图就加载bar模块，按需加载
                     ],
                     function (ec) {
                         var myChart = ec.init(document.getElementById(divid));

                         option = {
                             title: {
                                 text: title,
                                 x: 'center',
                                 y: 'bottom'
                             },
                             tooltip: {
                                 trigger: 'item',
                                 formatter: '{b}'
                             },
                             toolbox: {
                                 show: true,
                                 feature: {
                                     {#                        restore : {show: true},#}
                                     {#                        magicType: {show: true, type: ['force', 'chord']},#}
                                     saveAsImage: {show: true}
                                 }
                             },
                             legend: {
                                 x: 'left',
                                 data: legend,
                             },
                             series: [
                                 {
                                     type: 'force',
                                     name: "依赖关系",
                                     ribbonType: false,
                                     categories:categories ,
                                     itemStyle: {
                                         normal: {
                                             label: {
                                                 show: true,
                                                 textStyle: {
                                                     color: '#333',
                                                     fontWeight: 'bold',
                                                 }
                                             },
                                             nodeStyle: {
                                                 brushType: 'both',
                                                 borderColor: 'rgba(255,215,0,0.4)',
                                                 borderWidth: 1
                                             },
                                             linkStyle: {
                                                 type: 'curve'
                                             }
                                         },
                                         emphasis: {
                                             label: {
                                                 show: false
                                                 // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                             },
                                             nodeStyle: {
                                                 //r: 30
                                             },
                                             linkStyle: {}
                                         }
                                     },
                                     useWorker: false,
                                     minRadius: 15,
                                     maxRadius: 25,
                                     gravity: 1.5,
                                     scaling: 1.8,
                                     roam: 'true',
                                     nodes: nodesdata,
                                     links: linksdata,
                                 }
                             ]
                         };
                         myChart.setOption(option);
                     }
             );
                 }

});
</script>
{% endblock %}